[2017-12-08 18:34] subhabh opened #2 "Get Pulumi-azure to work"
- [x] Rename package from azurerm to azure to be consistent
- [ ] Finalize the namespaces. Currently it is not standardized. We can either follow the pattern outlined in Go sdk for Azure or follow Terraform's organization of resources. We need to make a decision and implement.
- [x] Integrate with Travis to run Azure as part of daily build
- [x] Make changes to SDK package to include Azure and mak

[2017-12-10 05:32] lukehoban opened #6 "Notes on bringing up a Functions example in Azure"
Not a bug per se - just a story. (though the story ends with it being seemingly impossible to use Azure Functions from Terraform/Pulumi - which we certainly will want to figure out how to fix).

Azure docs tell us how to stand up Azure Functions: https://docs.microsoft.com/en-us/azure/azure-functions/functions-infrastructure-as-code.

Starting off is simple:

[code]

This works like a charm!

Next

[2017-12-10 22:16] subhabh opened #7 "Rename Azure Package from Azurerm to Azure to be consistent"
Currently terraform provider for Azure is called AzureRM after Azure Resource Manager. We are using this to generate our package. We need to figure out a way to name our package 'azure' instead of 'azurerm'

[2017-12-10 22:20] subhabh opened #8 "Finalize namespace for Pulumi-Azure provider"
Namespace for Azurerm it is not standardized. Current implementation follows the pattern outlined in Terraform document. Challenge is if it is not a standard supported by Azure. We should look deeply into the nodejs or python and/or Go SDK for Azure to derive our own namespaces. Let us try the existing one and write some samples to get some feedback on usability before deciding on the final nameps

[2017-12-10 22:24] subhabh opened #9 "Pulumi preview fails on Windows with Minimist module not found"
1. Build Windows version of the sdk on a Windows box (Home\Scripts\Build-sdk.cmd)
2. Download and extract the resulting package
3. Run install.cmd and follow steps to install the sdk on a Windows box.
4. Build pulumi-azure/examples/webserver sample
5. Run 'Pulumi Preview'
Error: Can not find module 'minimist'
Problem persist even if we install minimist.
Seems npm install is not installing the depe

[2018-02-07 06:22] lukehoban opened #15 "Update to new Input/Output model"
Adopt the changes in `pulumi{-terraform}` to move from `Computed` to `Input`/`Output`.

[2018-02-08 21:19] #15 closed, assigned to CyrusNajmabadi

[2018-02-12 06:04] #6 closed, assigned to nobody

[2018-02-12 06:05] #9 closed, assigned to nobody

[2018-03-10 16:50] #7 closed, assigned to subhabh

[2018-03-10 21:39] joeduffy opened #23 "master failing due to test errors"
[code]

[2018-03-15 11:54] #23 closed, assigned to subhabh

[2018-03-28 17:35] lukehoban opened #27 "Some output properties are not populated correctly"
When creating an `azure.networking.PublicIP`, the resulting public IP address is undefined.

[code]

[code]

Note that many of the expected output properties are not actually present here - `zones` - `ipAddress` and possibly more.

Not sure whether this is an issue in `pulumi`, in the TF bridge, or in the terraform-provider-azurerm.

[2018-03-28 17:42] #27 closed, assigned to subhabh

[2018-04-04 20:15] #8 closed, assigned to lukehoban

[2018-04-20 15:41] #2 closed, assigned to nobody

[2018-05-30 00:34] joeduffy opened #42 "Azure Functions support"

[2018-05-30 00:35] joeduffy opened #43 "Add more Azure examples"
We have a dearth of Azure examples at the moment.  This doesn't accurately reflect the completeness of the provider and gives the impression it isn't ready for prime time.

Let's spend some time beefing up core examples around the "Colada" triad -- containers, serverless, and infrastructure -- especially once https://github.com/pulumi/pulumi-azure/issues/42 has landed.

[2018-06-12 05:57] ellismg opened #54 "Intermittent CI failures due to non unique names"
See: https://travis-ci.com/pulumi/pulumi-azure/builds/75990505 as an example.  This seems to happen if tests run one after the other (and since we don't have unique names for these resources, I expect we could never run two jobs concurrently.

[2018-06-13 17:50] loic-sharma opened #57 "Add listKeys, listSecrets, and list* resource functions"
This is necessary to fetch keys from resources like Azure Search.

See this documentation: https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-template-functions-resource#listkeys-listsecrets-and-list

[2018-06-15 03:58] #42 closed, assigned to mmdriley

[2018-06-15 14:05] joeduffy opened #60 "Create an equivalent of serverless.Function"
We want a serverless function abstraction, akin to https://github.com/pulumi/pulumi-aws/blob/master/overlays/nodejs/serverless/function.ts, for Azure, to make it more seamless to express function code in your Pulumi programs.

[2018-06-15 14:05] joeduffy opened #61 "Create an azure-serverless package"
Just as we have the [AWS Serverless](https://github.com/pulumi/pulumi-aws-serverless) package, we will want the moral equivalent for Azure, to help wire up functions to existing resources in an event-driven style of programming.

[2018-06-15 16:19] joeduffy opened #62 "Refreshing a Resource Group with deleted resources fails"
If you manually delete a resource from your Azure Resource Group in the console, we should be able to recover simply by running `pulumi refresh`.  Unfortunately, doing so fails:

[code]

Notice the relevant bit, wherein some Azure SDK failure occurs due to the deleted resource having gone missing: `The Resource 'Microsoft.Web/sites/fn-app67f7247a' under resource group 'fn-rgfeb8e772' was not found

[2018-06-16 00:15] dpen2000 opened #64 "No licence shown in npm"
![image](https://user-images.githubusercontent.com/396538/41493791-baee5aee-7102-11e8-80b2-054ad4f65f27.png)

[2018-06-16 20:26] #54 closed, assigned to ellismg

[2018-06-17 14:38] joeduffy opened #66 "Plugins published with dirty tag"

[2018-06-17 21:56] #64 closed, assigned to ellismg

[2018-06-17 23:09] loic-sharma opened #67 "Problems updating `AppService.appSettings`"
1. It seems updating/adding a value on an `AppService`'s `appSettings` does not work. I get the following error:

[code]

I can get around this by doing `pulumi destroy` followed by a `pulumi update`.

2. It seems that changing an `AppService`'s `appSettings`'s value from a string to an `Output<string>` doesn't get detected. Example from:

[code]

Example to:

[code]

Running `pulumi update` will

[2018-06-18 21:08] lukehoban opened #70 "Consider adding support for generating SAS URL from an Azure Blob directly to this library"
For both Azure Functions and Azure App Service, we have needed to rely on some helper code to generate an SAS URL from a Blob that can be used by the App Service.

We should find a way to remove the need for higher level libraries to do this, by adding such functionality directly into `@pulumi/azure` where appropriate.

[2018-06-20 16:04] lukehoban opened #71 "Add support for Azure Stack"
A new TF provider for Azure Stack was released earlier today - see https://www.terraform.io/docs/providers/azurestack/index.html.

We should be able to add support for that in a very similar manner to the existing Azure provider support.

We will probably want to follow the design in the TF provider of having this be a separate package - perhaps `@pulumi/azurestack`.

[2018-06-24 20:54] scottmckenzie commented on #43
Here is one more:
https://github.com/pulumi/examples/pull/91

[2018-06-24 21:01] scottmckenzie opened #72 "Add support for creating a VPN Gateway subnet"
An Azure VPN Gateway requires a subnet named GatewaySubnet to work properly:
https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpn-gateway-settings#gwsub

Pulumi transforms all subnet names to lowercase and appends a random eight character string.  This should not happen for subnets named GatewaySubnet.

[2018-06-25 00:04] lukehoban commented on #72
You should be able to set a `name` property on the Subnet to force that specific name to be used. When the name is left off, Pulumi provides a default with some randomness appended to ensure uniqueness by default. But in scenarios where a fixed name is required, that `name` property ought to enable full control.

[2018-06-25 07:12] scottmckenzie commented on #72
I am setting the name property on the subnet.  Pulumi sets the name to lowercase and appends eight random characters.

Tested with both python and javascript and get the same result.  I believe it is this line that is the culprit:
https://github.com/pulumi/pulumi-azure/blob/28b906b7dfc3000a3eca2885613529cc9fa2203b/resources.go#L436-L441

[2018-06-25 16:06] lukehoban commented on #72
I tried the following:

[code]

The result was subnets named `default` and `thenameipicked`:

![screen shot 2018-06-25 at 9 04 33 am](https://user-images.githubusercontent.com/223467/41861704-d79b0f10-7856-11e8-984e-29b7f26af840.png)

Do you have a code snippet you could share to highlight the issue you are seeing?

[2018-06-25 20:39] scottmckenzie commented on #72
I am seeing the same results as you.  I was confusing the resource name ("server-subnet" in your example) with the name property.  I hadn't seen any examples using that property and IntelliSense told me the first parameter was called name.

Sorry for wasting your time.

[2018-06-25 20:39] #72 closed

[2018-06-27 21:33] lukehoban opened #74 "Provider does not automatically pick up credentials in Azure Shell"
When using the Azure Shell in the Azure Portal (or from VS Code), you get ambient credentials for you Azure subscription which allow tools like `az` to work without need for additional login/configuration.

However, the Pulumi Azure Provider does not appear to pick these up automatically:

[code]

[2018-06-28 16:53] #66 closed

[2018-07-03 23:43] lukehoban commented on #43
We have three with one more in PR, and a few more planned in the near term.  Going to close this issue out and we'll track individual areas we'd like to add more.

[2018-07-03 23:43] #43 closed

[2018-07-04 00:48] lukehoban commented on #70
Note that https://pulumi.io/reference/pkg/nodejs/@pulumi/azure/storage/#getAccountSAS is now available, which can actually be used here (instead of needing to import the Azure SDK in JS as well).

[2018-07-04 00:49] lukehoban commented on #70
We're also embedding the higher level function concept directly into https://github.com/pulumi-azure-serverless - so I expect we will not also want to include this in the azure provider as well - at least for the near term.

[2018-07-04 00:49] #70 closed

[2018-07-05 20:37] joeduffy opened #77 "Create an "Azure reference architecture" example"
We agreed recently, when talking to a recent customer, to create an "Azure reference architecture" example.  This would simply provision the basic networking components and Kubernetes cluster -- [ACS Engine](https://github.com/Azure/acs-engine)-like -- and then deploy some services on top.

Eventually, we know we want a more first class ACS Engine component, but to get started we can probably just

[2018-07-09 19:43] lukehoban commented on #67
I've tried to reproduce this, but have not been able to.  Using the example at https://github.com/pulumi/examples/blob/master/azure-ts-appservice/index.ts, I can comment out and uncomment the `APPINSIGHTS_INSTRUMENTATIONKEY` app setting and re-deploy without problems.

Is there a specific App Setting that was causing problems for you?

Similarly, I couldn't repro this.  When I change the value of

[2018-07-09 19:44] lukehoban commented on #67
Closing for now - but please do provide any additional details that we could use to reproduce this and we can re-open.

[2018-08-01 20:26] lukehoban commented on #61
This is being tracked in https://github.com/pulumi/pulumi-azure-serverless/pull/1.

[2018-08-03 17:34] lukehoban commented on #77
This issue was moved to pulumi/customer-azurespeech#1

[2018-08-03 17:34] #77 closed

[2018-08-03 19:45] CyrusNajmabadi commented on #61
pre-alpha bits added in https://github.com/pulumi/pulumi-azure-serverless/pull/1

[2018-08-03 19:45] #61 closed

[2018-08-03 19:46] CyrusNajmabadi commented on #60
pre-alpha bits added in: https://github.com/pulumi/pulumi-azure-serverless/pull/1

[2018-08-03 19:46] #60 closed

[2018-09-01 03:47] lukehoban opened #97 "Improve namespace structure"
The namespacing being used is somewhat too “opinionated”, and doesn’t match the common namespace structure of Azure services as seen in SDKs. We should pick a stable reference point and cleanly align namespacing to ensure APIs are available with meaningful and correct fully qualified names.

[2018-09-06 20:11] pgavlin commented on #62
This is fixed.

[2018-09-06 20:11] #62 closed

[2018-09-13 17:14] jjcollinge opened #103 "AKS service principal creation not handling async"
When running the [AKS](https://github.com/pulumi/examples/tree/master/azure-ts-aks-helm) example for the first time I got the following error:

[code]
When I re-ran `pulumi up` it worked. I believe this is due to the asynchronous nature of AAD service principal creation and propagation rather than a bug in the dependency graph. AAD is a particularly problematic resource and I believe has an SLA of

[2018-09-13 18:04] lukehoban commented on #103
Looking into this.  It sounds like it may be an issue in the underlying `terraform-provider-azurerm` with some wait logic missing from the resource creation path.

[2018-09-13 21:42] lukehoban commented on #103
Root cause is https://github.com/terraform-providers/terraform-provider-azurerm/issues/1635.

[2018-09-14 08:44] mikhailshilkov opened #111 "Provider does not automatically pick up credentials with redirected desktop"
I've mentioned this on Slack some time ago, still happens.

On one of the laptops (Windows), even though I login with `az login`, `pulumi update` will fail to find the credentials.

The workaround is to run `robocopy "$env:userprofile\.azure" "$env:homeshare\.azure"` and then everything works, until the next logout.

I've seen this advice in [this issue](https://github.com/terraform-providers/terr

[2018-09-14 10:56] jjcollinge commented on #103
@lukehoban thanks, looks like you're right. I see the latest Pulumi azure resources are based on TF 1.13 so they should include the [fix](https://github.com/terraform-providers/terraform-provider-azurerm/pull/1647) TF released in [1.12](https://github.com/terraform-providers/terraform-provider-azurerm/blob/39590d40416245084bc343dbb12bceb2e3429d41/CHANGELOG.md). Do you think their fix didn't actual

[2018-09-14 13:59] lukehoban commented on #111
Looks like this is ultimately because we didn't pick up the fix in terraform-providers/terraform-provider-azurerm to pin to a newer go-homedir - https://github.com/terraform-providers/terraform-provider-azurerm/pull/1718/files.

Fundamentally, this is because we are not locking to the precise dependencies from the upstream in our build of pulumi-azure (unlike what we do for pulumi-aws).

[2018-09-19 18:33] jen20 opened #115 "Add explicit top level type for tag structure"
Similar to how the AWS provider (now) has `aws.Tags` defined as a dictionary object, we should add an explicit type to the Azure provider to avoid having to use `any` in various places.

[2018-09-19 18:42] jen20 opened #116 "Add constants for instance sizes"
It would be a good plan to add constants for the various instance sizes and a sum type to the various places that a size is accepted in a similar manner to the AWS provider.

[2018-09-19 18:43] jen20 opened #117 "Add constants for locations"
Location names should likely be constants and a union type, however attention needs to be paid to what the error messages would look like if an invalid location name is passed in via config (as a string).

[2018-09-20 01:15] jen20 opened #119 "Panic in Terraform Provider creating a CosmosDB account with multiple geoLocations"
[code]

[2018-09-21 10:14] mpp-oliverh opened #120 "GetZoneResult doesn't contain the 'name' property"
I'm trying to add records to an existing DNS zone but I have to specify the zone name twice - once to retrieve it and again to create the record.

GetZoneArgs requires name and resourceGroupName
GetZoneResult only has resourceGroupName.

ARecordArgs requires zoneName and resourceGroupName.

[2018-09-21 12:01] lukehoban commented on #120
Was you expectation that the same name you passed as input to `GetDnsZone` would also be available on the output of that function?

Note that this is ultimately based on the Azure Terraform provider API at https://www.terraform.io/docs/providers/azurerm/d/dns_zone.html.

[2018-09-21 12:04] mpp-oliverh commented on #120
Yeah just that.

I guess it's an upstream suggestion but would still be handy.

[2018-09-21 17:32] carterwilliamson opened #121 "Azure role assignment name needs to be GUID"
When trying to assign a role to a service principal, the name needs to be a GUID.

The following code -
[code]

Will return a 400 error from azure saying that the name must be a valid GUID.

I tested with the `uuid` package and it worked, however this will trigger a change every time `pulumi up` is ran.

[code]

[2018-09-24 13:48] mikhailshilkov opened #122 "FunctionApp too strict about version"
I'm trying to set Function App version to ~2:

[code]

but I get an error back:

[code]

`~2` is a valid version, see [docs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions#changing-version-of-apps-in-azure).

Moreover, I should be able to pin my app to a specific version like `2.0.11961-alpha`.

[2018-09-24 15:52] lukehoban commented on #103
I don't believe there is a fix for terraform-providers/terraform-provider-azurerm#1635 yet.  I believe the fix for https://github.com/terraform-providers/terraform-provider-azurerm/pull/1647 addressed a similar case but for a different API (role assignment, not AKS).

[2018-09-24 17:14] CyrusNajmabadi commented on #122
This is actually terraform doing the validation.  However, 3 weeks ago, they removed this validation: https://github.com/terraform-providers/terraform-provider-azurerm/pull/1872

I will see about getting us moved to a later version of terraform if possible!

[2018-09-24 18:56] CyrusNajmabadi commented on #122
@pgavlin Is working on getting us up to date with the terraform.  That work is being tracked with https://github.com/pulumi/home/issues/265.  Once that goes through, you should be unblocked here!

Note: in the meantime, can you just set 'beta' as as your version?  IIRC, you will also likely have to set an appropriate the WEBSITE_NODE_DEFAULT_VERSION version to the specific version of node you want

[2018-09-24 19:00] mikhailshilkov commented on #122
Yes, thank you @CyrusNajmabadi , I've already set it to `beta` so I'm not blocked.
Also learned about `WEBSITE_NODE_DEFAULT_VERSION` the hard way: they actually default to Node `0.10` where nothing actually works. A cool feature of Pulumi would be to enforce that or default to a more sensible version.

[2018-09-27 01:45] CyrusNajmabadi commented on #122
This shoudl now be fixed with: https://github.com/pulumi/pulumi-azure/pull/125

We have upgraded to v1.15 of terraform, which should have loosened this restriction.  You should see this in an upcoming release of Pulumi soon!

[2018-09-27 01:45] #122 closed

[2018-10-01 14:00] lukehoban commented on #121
Looks like the underlying provider was already auto-UUID-ing these name properties - but the Pulumi provider was overwriting that with it's own default.  #126 is a fix that would avoid doing that.

[2018-10-01 20:23] lukehoban opened #128 "Unmapped resources"
Several recently added resources are note currently mapped into the Pulumi API:

[code]

[2018-10-02 16:03] lukehoban commented on #121
Fixed with https://github.com/pulumi/pulumi-azure/pull/127.

[2018-10-02 16:03] #121 closed

[2018-10-08 03:54] slikk66 opened #131 "Created resource-group gets extra random string"
Since the resource groups are an important building block, as the docs state it should be unique: https://github.com/pulumi/pulumi-azure/blob/master/sdk/python/pulumi_azure/core/resource_group.py#L39

I'm attempting to create some resource groups in one project with known names that will be foundations for items to attach to in other projects.  I was not expecting the names of the actual resource

[2018-10-08 04:11] slikk66 commented on #131
Found that there's a second param "name" you can pass in which will solidify the name.   Acceptable workaround, but due to the fact that the names must be unique, seems redundant to me.

Code
[code]

Azure names:
[code]

[2018-10-08 04:12] #131 closed

[2018-10-08 17:57] slikk66 opened #132 "Missing file fails install (python)"
https://github.com/pulumi/pulumi-azure/blob/master/sdk/python/setup.py#L14

[code]

Also, looks like you need to push a new pypi version, I'm still seeing role.assignment.assignment instead of role.assignment.Assignment

I'd be willing to push a PR for this fix, but it seems maybe it should be fixed in the tfgen repo instead?  Seems the setup is generated also by tfgen, should dump a README.rst in

[2018-10-09 16:44] CyrusNajmabadi commented on #132
@lukehoban I know nothing about python :)   I can try to figure out what's going on here, but maybe someone else might be better to start with?  @swgillespie do you know anything about the above?

[2018-10-09 16:56] swgillespie commented on #132
Thank you! Yeah, the fix for this will be in tfgen, which autogenerates all of the Python in this repo. @ellismg do you think we'd be able to re-use the pandoc stuff for generating `README.rst` from our markdown?

[2018-10-11 15:31] dbilleci-lightstream commented on #132
Looked at the code, I could either wrap the open('README') with a try/except in setup.py, or I can see where a good place for this README.rst should come from and try to create one?

[2018-10-11 15:33] dbilleci-lightstream commented on #132
Actually, none of the other packages have a README file either, maybe we should just change it to read VERSION instead and call it a day?

[2018-10-11 15:44] slikk66 commented on #132
switched back to my personal acct for the PR - https://github.com/pulumi/pulumi-terraform/pull/264

[2018-10-11 15:59] ellismg commented on #132
I’ll admit I’m confused.  The README.rst is generated as part of running `make build` when pandoc is installed and when pandoc is not installed, we generate an empty one. In what case are we running into the above error?  Is a package we published to PiPy just wrong, or is this happening when trying to build locally in some configuration?

Perhaps we should just switch to a model where we generate

[2018-10-11 17:55] mpp-oliverh opened #133 "KeyVault.name is incorrectly documented."
The name property on KeyVault is documented as :

[keyvault.ts](https://github.com/pulumi/pulumi-azure/blob/master/sdk/nodejs/keyvault/keyVault.ts#L54)

[code]

However it really is the name you'd expect it to be :

[code]

[code]

[2018-10-13 00:52] slikk66 opened #134 "Pull in new terraform azurerm provider 1.16.0"
https://github.com/terraform-providers/terraform-provider-azurerm/blob/v1.16.0/CHANGELOG.md

Looks like they've added since October 1st a new azure provider, which adds support "data_actions" which I need for my project:

https://github.com/terraform-providers/terraform-provider-azurerm/pull/2000

Thanks!

[2018-10-13 00:57] slikk66 commented on #134
Adding note from developer that it's in azurerm provider 1.16.0 - https://github.com/terraform-providers/terraform-provider-azurerm/issues/1538

[2018-10-18 20:07] #128 closed

[2018-10-18 20:07] #134 closed

[2018-10-18 20:16] slikk66 commented on #134
Thanks @lukehoban @joeduffy this came at a great time and will help get my company on board for going full Pulumi!! 🍻 💯

[2018-10-18 20:58] joeduffy commented on #134
Excellent to hear this!! :+1: :100:

[2018-10-18 21:35] lukehoban commented on #134
This is now available in v0.16.1 of https://www.npmjs.com/package/@pulumi/azure.

[2018-10-25 18:34] lukehoban commented on #120
Yeah - that sounds right.  Looks like we only project `Computed` properties today:

https://github.com/pulumi/pulumi-terraform/blob/de82cd6f46d00d799a7a9e9268e3c8654fa14569/pkg/tfgen/generate.go#L733-L737

Interestingly - the code in `tfbridge` looks like perhaps it does pass the values of these back at runtime, but just the generated TypeScrip type doesn't include them?  I have not verified that

[2018-10-30 17:35] mpp-oliverh commented on #133
fixed! perhaps by the recent terraform update.

[2018-10-30 17:35] #133 closed

[2018-10-30 18:49] ellismg commented on #132
@swgillespie it's still not clear to me there's an issue here.  The only think I can think of is that since the README.rst is generated by the build, on a fresh clone it wouldn't be present, and so trying to pip install the source directly could fail.

We could check in the README.rst's if we preferred and just have the build update them when `pandoc` is installed.  At some point, I imagine we end

[2018-10-31 15:40] dbilleci-lightstream commented on #132
The original issue was from trying to pip install directly from the github repo (which should be allowed, I think in normal circumstances) but perhaps it doesn't line up with your intended workflow.

I was trying to get around the role.assignment -> role.Assignment issue that was here a few versions back, PyPi was behind, but Github repo had the fix, which led me to try and install from the repo u

[2018-11-01 21:32] swgillespie commented on #132
Oh! Yeah, so you'll need to point `pip install` at the `sdk/pulumi/bin` subdirectory and not `sdk/pulumi`. As part of the build, we generate some files (including README.rst) and produce a package in `sdk/pulumi/bin`, which is ultimately the thing we upload to PyPI. If you want to install the package yourself, you have to do a build of this repo and then `pip install` that subdirectory.

Can you t

[2018-11-04 21:02] WonderPanda opened #140 "Support for AAD integration for RBAC Enabled K8s Clusters"
I've been attempting to see if it's possible to provision an AKS cluster using Pulumi that would be able to integrate properly with AAD as [outlined in the Microsoft Docs](https://docs.microsoft.com/en-us/azure/aks/aad-integration).

Using the Pulumi Typescript SDK it doesn't appear that the necessary configuration for the aadProfile is currently exposed. After creating the cluster with RBAC enabl

[2018-11-04 21:10] lukehoban commented on #140
I believe this is ultimately https://github.com/terraform-providers/terraform-provider-azurerm/issues/1429 in the upstream Azure Terraform provider.

[2018-11-05 12:07] WonderPanda commented on #140
@lukehoban Thanks for looking it, definitely looks like the issue you linked is the underlying blocker although it appears to be close to getting merged so fingers crossed that we can see this in Pulumi soon.

Is there any support currently to be able to "bind" a Pulumi stack to existing cloud infrastructure? I know from the Kubernetes examples that I could create the cluster manually and then use

[2018-11-07 17:00] mpp-oliverh opened #141 "Use terraform-provider-azurerm v1.18.0."
Terraform-provider-azurerm v1.18.0 was released on the 2nd November. v1.17.0 was mid Oct.

https://github.com/terraform-providers/terraform-provider-azurerm/releases/tag/v1.18.0

I have a very minor patch merged into v1.17.0 which I need to be able to use managed identities (it exposes the clientId property).

Is there any info about when this might be done - I've tried a few workarounds but none

[2018-11-07 17:11] lukehoban commented on #141
Note that I believe we are up to date with 1.17.0. Definitely should add information about what version is currently supported somewhere clear though.

[2018-11-07 17:17] mpp-oliverh commented on #141
Oh you're right! Fantastic news.

I saw https://github.com/pulumi/pulumi-azure/pull/136 and thought it was v1.16.0 but UserAssignedIdentity has the clientId property now.

Thanks a lot.

[2018-11-07 17:17] #141 closed

[2018-11-08 00:29] lukehoban commented on #103
I'm going to close this out - since it is really tracking terraform-providers/terraform-provider-azurerm#1635  in upstream getting fixed/merged and then adopting that into Pulumi.  We expect to be adopting latest providers into Pulumi on a continuous basis in the near term, so will just want to push on the upstream issue to get fixed.

@jjcollinge Feel free to reopen if you'd like to have an issue

[2018-11-08 16:31] mpp-oliverh opened #142 "Race condition with msi.UserAssignedIdentity and role.Assignment"
If I create a new UserAssignedIdentity then immediately try to assign it a role it complains that the principalId doesn't exist in the directory.

I assume this is a bug / peculiarity with Azure itself because the dependency chain looks fine... is there a way of working around this?

Thanks,

[code]

[code]

[code]

[2018-11-08 16:36] mpp-oliverh commented on #142
I should add that when I ran `pulumi up` the second time it worked fine.

[2018-11-08 17:16] lukehoban commented on #142
This looks like the same issue as https://github.com/pulumi/pulumi-azure/issues/103, which is itself ultimately https://github.com/terraform-providers/terraform-provider-azurerm/issues/1635 in the upstream Terraform AzureRM provider.  As soon as that issue is fixed and merged, we'll bring it into the `@pulumi/azure` provider.

[2018-11-09 19:38] #132 closed

[2018-11-11 12:42] writeameer opened #144 "Embedding pulumi-azure into my Go application"
Hi there,

I've just been testing out pulumi within a Go application on Azure.  Works great. I'm currently writing an application that needs to spin up/down infrastructure based on various events. Leveraging Pulumi here vs go sdk for Azure would give me all the goodness of using a regular programming language vs. json hell.

I'm wondering, however, if I can embed pulumi into my own application. At

[2018-11-14 16:48] #142 closed

[2018-11-24 21:08] lukehoban opened #150 "Adding a `customData` to `VirtualMachine` doesn't do anything"
I have a VirtualMachine deployed - based on
https://github.com/pulumi/examples/tree/master/azure-js-webserver.

[code]

If I uncomment the `customData: "something",` piece, and re-run update, `pulumi` shows me no diff at all!

[code]

In contrast, destroying and recreating with this value of `customData` works as expected.

[2018-11-25 23:39] lukehoban commented on #150
I'm still having trouble believing what I'm seeing here - how can this happen?

[code]

Full log:

[code]

[2018-11-25 23:41] lukehoban commented on #150
Even more strangely - if I cause another top level property to change - like `vmSize` - that does trigger the update, which also is now suddenly aware that `osProfile` was changing too.

[code]

[2018-11-26 17:47] pgavlin commented on #150
This log line is misleading:
[code]

`changes` is not the number of properties changed. Instead, it is the numerical value of an [enum that describes the changes](https://github.com/pulumi/pulumi/blob/master/pkg/resource/plugin/provider.go#L89-L96). In this case, the value is `1`, which corresponds to `DiffNone`, which indicates that the provider decided that the diff was not semantically interest

[2018-11-26 17:51] joeduffy commented on #150
It appears the custom set hash function explicitly only cares about the `admin_username` and `computer_name` fields? https://github.com/pulumi/terraform-provider-azurerm/blob/8377a5ba58500e75c4a6762fa8a6d9610b6e29b3/azurerm/resource_arm_virtual_machine.go#L1717-L1726

[2018-11-26 17:55] pgavlin commented on #150
Yeah, just noticed that as well. Interesting.

Definitely worth reproing this with TF.

[2018-11-26 17:57] lukehoban commented on #150
Great - good to know this is not a Pulumi issue. I'll open a bug/PR on the Terraform provider to fix this.

[2018-11-26 18:33] joeduffy commented on #111
@pgavlin has offered to help load balance, as part of M19 shutdown. Thanks Pat!

[2018-11-26 18:47] pgavlin commented on #150
Looks like there's already an issue:
https://github.com/terraform-providers/terraform-provider-azurerm/issues/148

[2018-11-27 18:52] pgavlin commented on #111
This has been fixed with the change to use `govendor-override` to manage overrides in the `Gopkg.toml` file.

[2018-11-27 18:52] #111 closed

[2018-12-05 16:02] juchom commented on #67
Actually, I just hit the same issue:

First use this index.ts file

[code]
Run pulumi up, everything is fine.

Now, let's add to our index.ts file Application Insights and configure it in the App Service

[code]
If you run pulumi up, it will create Application Insights but fails on updating appSettings.

If you run pulumi up a second time, it says it worked but nothing changed in the appSettings.

[2018-12-07 02:41] lukehoban commented on #150
Closing as a dupe of terraform-providers/terraform-provider-azurerm#148.

[2018-12-07 02:41] #150 closed

[2018-12-09 19:54] lukehoban commented on #57
@jen20 Do we have a sense of how critical important these are?  The Azure Terraform provider does not appear to expose them - and instead exposes keys off of specific resources in many cases.  Is there something we can/should do here in the nearterm?  Or is this something that should be feedback to the Azure Terraform provider?

[2018-12-13 05:59] clstokes opened #155 "AKS cluster missing from state after 201 response and error"
The `azure-ts-aks-multicluster` example linked in the branch below creates two AKS clusters in the same Azure region. For a new Azure account with low account limits (i.e. max of 10 cores), this app will fail with the error:

[code]

The `akscluster-east3884a058` resource will actually be created but will be absent from Pulumi's state and `pulumi stack export`. Subsequent pulumi runs will fail wit

[2018-12-14 16:49] clstokes commented on #155
Got it. I’ll put together a terraform config to reproduce and open an issue there.

[2018-12-17 03:34] clstokes commented on #155
I was able to reproduce this in the Azure Terraform provider and opened https://github.com/terraform-providers/terraform-provider-azurerm/issues/2523. Will close this one.

[2018-12-17 03:34] #155 closed

[2018-12-17 15:34] johlrich opened #157 "Preview fails when setting FunctionApp/AppService siteConfig.use32BitWorkerProcess property"
Preview fails when setting siteConfig.use32BitWorkerProcess property on a FunctionApp or AppService. It looks like the tf mapping is off by a character based on the error message: `error: azure:appservice/appService:AppService resource 'abc-stage-clbdir' has a problem: site_config.0: invalid or unknown key: use32_bit_worker_process`

use32_bit_worker_process looks like it should be passed down as

[2018-12-17 16:17] lukehoban commented on #157
@jen20 Is this an issue in the `tfbridge` name translation?

[2018-12-18 04:43] jen20 commented on #157
Yes, it looks like that is the issue. I'll look at what can be done to fix this.

[2018-12-18 04:53] jen20 commented on #157
Adding a test for this in `pulumi-terraform` shows that it is the problem:

[code]

@lukehoban: is it sufficient here to override the `Name` of the property in the mapping of the resources in question to fix this?

[2018-12-20 01:35] johlrich opened #159 "name length rule for AppService is more strict than in azure"
AppService has the same naming restriction as FunctionApp in Azure (1-60 characters, case insensitive, alphanumeric and hyphen) but pulumi will reject it if larger than 24.

`Could not make instance of 'azure:appservice/appService:AppService'.: name 'collab-dir-projector-' plus 8 random chars is longer than maximum length 24`

For some reason AppService isn't in the [naming rules list](https://doc

[2018-12-20 03:00] johlrich commented on #159
The problem appears to only comes up if you don't explicitly name something and let the suffixed name  generate. If you explicitly name a resource, it will apply the same rules to that name as terraform currently does, but obviously without the suffix applied (which I personally like).

This more specific problem exists for a few different resources and not just AppService. I also ran into this wi

[2019-01-02 09:41] juchom commented on #67
Not sure if I have to open a new issue, the bug above was with pulumi 0.16.6 and it is still present with pulumi 0.16.9

[2019-01-14 05:52] lukehoban commented on #67
I confirmed I can reproduce this, but not sure where the problem ultimately is - the Azure ARM APIs underneath this are very finicky, and it's possible the underlying issue is https://github.com/terraform-providers/terraform-provider-azurerm/issues/1303#issuecomment-435062255 or something similar.  Most likely there is not a Pulumi-specific issue here, and something will need to be addressed in th

[2019-01-16 10:53] ebashmakov commented on #157
@lukehoban @jen20 are you guys to close this issue? currently it's not possible to create an AppService (FunctionApp/WebApp) with `"use32BitWorkerProcess": true` (which is the common case).

[2019-01-16 21:44] swgillespie commented on #157
Very possible, but I'm not familiar with the code at all, so I'd have to look.

[2019-01-17 14:40] lukehoban commented on #140
This is supported now in latest releases.

[2019-01-17 14:40] #140 closed

[2019-01-20 22:17] jen20 opened #167 "Document subscription selection"
A user in the community slack pointed out that the guide here: https://pulumi.io/quickstart/azure/setup.html does not have information on subscription selection. We should add guidance here.

[2019-01-21 16:39] jen20 opened #168 "Handle migration of Azure AD resources to a separate upstream provider"
[This document](https://github.com/terraform-providers/terraform-provider-azurerm/blob/31b39db5241fb4cd3ce7805f7b692ccfcb174de1/website/docs/guides/migrating-to-azuread.html.markdown) details that Azure Active Directory management resources have been separate into their own Terraform provider and that the resources in the main provider are deprecated. We need to work out the best way to proceed th

[2019-01-27 16:25] jen20 opened #170 "Write an opinionated guide to how to authenticate for different scenarios"
Azure provides many different ways to authenticate, which are appropriate in different circumstances. We should have a document which explains which types of credentials are appropriate in which situation (e.g. Pulumi on a dev machine, in CI, on an Azure VM etc) with specific instructions on how to find the relevant pieces of information.

[2019-02-06 16:33] joeduffy opened #176 "Don't require `location` everywhere"
At the moment, most (every?) resources require an explicit `location` to be supplied. This feels unfortunate in comparison to how, say, the AWS and GCP providers work, which generally assume a single location per stack. It's admittedly nice to have the _option_ to go multi-region within a single stack, but this certainly seems unlikely to be the common case. Furthermore, we already specify a `loca

[2019-02-07 18:46] newtack opened #177 "Azure Function Dependencies not packaged"
When I write an Azure function without dependencies it got deployed correctly without problems. But when I included an NPM dependency, this was not packaged up. Is this simply not supported or do I need to do something extra?

[2019-02-07 18:47] newtack opened #178 "Async Azure Function"
Are async Azure functions supported? If so, can you provide an example?

[2019-02-07 19:04] ellismg commented on #177
No, it should be included by default.  Can you share an example of what's not working and what your `package.json` looks like?

[2019-02-07 19:05] ellismg commented on #177
If you could share how you are creating the azure function as well, that would be helpful.

[2019-02-08 03:03] newtack commented on #177
I'll see if I can put something together.
I am using yarn workspaces, could this be a source of the problem?

[2019-02-08 18:37] ellismg commented on #177
It's certainly possible.  We had issues in the past where Pulumi would fail to run if the `@pulumi/pulumi` was installed using workspaces, which we have sense fixed.  It's possible there's some interaction in our closure serialization code and asset gathing logic and workspaces, and if so, I'd love to fix it.

Just a sketch of the part of your pulumi program that is creating the azure resources wo

[2019-02-11 15:21] juchom commented on #67
Update on this issue: actually this is not limited to Application Insights but it seems to be on all appSettings update on web app.

ZipDeploy is working fine on Azure Functions but it fails on WebApp.

This is a pretty serious issue, here is a bit of my index.ts file

[code]

[2019-02-12 12:16] oliverholliday opened #180 "Error with keyvault after upgrade to 0.16.8."
I've just updated to 0.16.8 from 0.16.7 and now i'm getting:

[code]

followed by

[code]

I've added this to the `azure.keyvault.Secret` definition but no joy.

[code]

[2019-02-13 00:54] lukehoban commented on #170
Is this https://pulumi.io/quickstart/azure/setup.html?

[2019-02-13 01:01] lukehoban commented on #178
You can see a raw examples of Azure Functions at https://github.com/pulumi/examples/tree/master/azure-ts-functions.

You can find some examples of Azure Functions hooked up to Azure event sources at https://github.com/pulumi/pulumi-azure-serverless/blob/master/nodejs/azure-serverless/examples.  That `@pulumi/azure-serverless` library is very early, but shows some of the patterns of what can be bui

[2019-02-13 01:01] #178 closed

[2019-02-13 01:01] lukehoban commented on #180
This is being tracked in https://github.com/terraform-providers/terraform-provider-azurerm/pull/2820.

[2019-02-14 18:48] jen20 commented on #180
This is fixed by v0.16.9 of the provider - the packages are being released at the moment, and should be out shortly. Thanks for the report, @oliverholliday!

[2019-02-14 18:48] #180 closed

[2019-02-14 22:01] dbilleci-lightstream opened #182 "Updating tags on AKS cluster attempts to "replace" it, but ends up deleting it completely"
Found this out while doing some dev work.  Every time we deploy an AKS cluster, we have a tag of "created" which is the current timestamp.  So while iterating during development, I found out that if you redeploy the stack (which includes the AKS cluster, which includes a new tag on that cluster) the cluster will attempt to replace itself (for a tag?) but it ends up seeming to "create" a new one (o

[2019-02-14 22:19] dbilleci-lightstream commented on #182
To be clear, although I think it's odd that a tag change would require tearing down a cluster in the first place, if that is required.. so be it.. but I'd expect that there still is a cluster (a new one) that is left over at the end over the operation.. there isn't!  There is NO CLUSTER at all!  Sorry if I wasn't clear.

[2019-02-14 22:19] lukehoban commented on #182
Yes - this doesn't look right - we'll look into it.

[2019-02-14 22:25] hausdorff commented on #182
Updating a tag should not cause a replace. The [docs] say it's a `PATCH` request, and we've verified you can update tags in-place from the console. Seems like a bug in TF.

[docs]: https://docs.microsoft.com/en-us/rest/api/aks/managedclusters/createorupdate

[2019-02-15 19:32] lukehoban commented on #182
I looked into this.

It is actually another case similar to https://github.com/pulumi/pulumi-aws/issues/451.

The ultimate offender is `agentPoolProfile.osDiskSizeGb`.  This is not at all clear from the diff we present to the user in the CLI, but the `Diff` returned from the provider indicates that the replace is being forced by that property changing.

In the TF schema it looks like:

[code]

Thi

[2019-02-15 19:55] lukehoban commented on #182
This apparently does not reproduce with Terraform, so we'll need to look at what fix is appropriate on the Pulumi side.

[code]

[2019-02-15 19:59] lukehoban commented on #182
Opened https://github.com/pulumi/pulumi/issues/2453 on (1) above.

[2019-02-15 20:30] lukehoban commented on #182
I wasn't able to reproduce this aspect of the original bug report. Even when I do cause a replace to be triggered - it does successfully create a new cluster and delete the old cluster.

This is also surprisingly short for a replace to have actually happened.  For me this took `16m27s`, which sounds more correct as creating a new AKS cluster by itself takes ~12m.  Definitely seems like something w

[2019-02-15 20:33] slikk66 commented on #182
@lukehoban try setting the {name} parameter on the cluster properties, see if that triggers the "delete" aspect.. that's how I had it.  This is my personal account, I filed the bug report from work account (I was forced to create a separate work one...)

[2019-02-15 20:34] slikk66 commented on #182
Here's the code:

[code]

[2019-02-15 21:21] dbilleci-lightstream opened #183 "Keyvault (AccessPolicy?) usage in 16.8 or 16.9 causes panic"
I ran into this same issue with both 16.8 and 16.9 of the provider.  I'm not exactly sure what is the cause, but I just re-ran a few tests and I hit the error when I tried this:

Existing (before):
[code]

Then changed to:
[code]

With running 16.9:
[code]

And I get this (whole lotta muck):
https://pastebin.com/2Sakd5UP

[2019-02-15 21:24] jen20 commented on #183
Hi @dbilleci-lightstream! Thanks for the detailed repro, I’ll take a look into this and see what we can do.

[2019-02-15 23:34] lukehoban commented on #182
Okay - I can reproduce the disappearing cluster issue - and it is indeed tied to specifying `name`.

What happens is:
1. Changing the `name` forces replacement
2. By default Pulumi does create-before-delete replacement
3. Azure has a strange default behaviour where "create" will silently "update" if the `name` matches an existing resource
4. As a result, an "update" of the existing resources happe

[2019-02-19 10:12] oliverholliday opened #184 "Big delay after changing `publicIpAddressAllocation` to `allocationMethod`."
I got a deprecation warning on the `azure.network.PublicIp` resource for `publicIpAddressAllocation` so I updated the definition to use `allocationMethod` instead.

Ever since then, each `pulumi up` takes at least 5 minutes. It sits at 'refreshing' on each of my PublicIp resources.

[2019-02-19 14:39] jen20 commented on #170
Yes - I think this issue could be fixed instead by linking to this in the README for the Azure provider.

[2019-02-19 14:47] jen20 commented on #97
This would likely result in breaking changes relying on pulumi/pulumi#2389 being implemented, so I'm moving it to M22.

[2019-02-19 14:51] jen20 commented on #57
As of the latest version, these still aren't exposed directly by the Terraform provider, but I think some of the list* functions are implemented as data sources. I think if we're going to implement them it would be best to upstream implementations.

@loic-sharma - can you elaborate on which of these you need?

[2019-02-19 23:16] jen20 commented on #183
I've been attempting to reproduce this locally, and can't get it to happen with _just_ the latest provider. My guess is that it requires the resources to have been created the using 0.16.7, and then the provider upgraded to a later version.

The program I'm using is:

[code]

The output from `pulumi plugin ls` (apologies, I have a lot...):

[code]

And finally the output from `pulumi up`:

[code]

[2019-02-19 23:35] dbilleci-lightstream commented on #183
I think the part that triggered it for me was changing the 2 parameters in the access policy:

original with resourceGroup and vaultName params:
[code]

But that gives a deprecation warning on > 16.7 now, so I had refactored it to use keyVaultId single param:
[code]

[2019-02-19 23:36] dbilleci-lightstream commented on #183
If you wanted to get really precise, it would be first creating it on 16.7 with `resourceGroup and vaultName` and then upgrading to 16.8 or 16.9 and then changing it to use the single `keyVaultId`

[2019-02-19 23:39] jen20 commented on #183
Hmm, I also can't reproduce it that way. Here are the steps I took, in case you can notice anything different, @dbilleci-lightstream:

Remove all the plugins, using `pulumi plugin rm --all` and confirming.

Start with the program in the pre-0.16.8 form, with a strict dependency on version 0.16.7 of `@pulumi/azure` in `package.json`:

[code]

Run the program, and see the resources created:

[code]

[2019-02-20 01:05] jen20 commented on #183
After some more back-and-forth with @dbilleci-lightstream on the community slack, we came to the conclusion that the reported panic is the failure mode when the supplied `keyVaultId` is not valid. It can be reproduced with the following program, at version 0.16.9 of the Azure resource provider:

[code]

On `pulumi up`:

[code]

Returning a nil state and a nil error sound suspicious upstream - I'll

[2019-02-20 01:06] jen20 commented on #183
Additionally, we confirmed that @dbilleci-lightstream can make progress by correcting the helper function being used to calculate the vault ID from components.

[2019-02-20 01:14] dbilleci-lightstream commented on #183
@jen20 thanks again for spending the time to debug this! I've been able to move forward on my end with a stupid simple variable update.. I'll continue to follow the ticket for info on the (upstream?) issue.

[2019-02-20 01:15] loic-sharma commented on #57
So far, I've only needed `listAdminKeys` to connect an [Azure App Service](https://azure.microsoft.com/en-us/services/app-service/) to an [Azure Search Service](https://azure.microsoft.com/en-us/services/app-service/). The "admin keys" are the secret used to authenticate to the Azure Search Service. I'm not sure what else use these resource functions.

[2019-02-20 01:21] jen20 commented on #183
So, this is a bug upstream. I can reproduce what would cause us to fail in this manner by running this Terraform configuration:

[code]

Running `terraform apply`, I see this:

[code]

However, no state is actually created:

[code]

Our Terraform bridge asserts that this cannot happen, resulting in the panic we see as the presenting cause of this issue. The reason it fails is here (upstream):

htt

[2019-02-20 01:22] jen20 commented on #183
Actually, I think this is a straight up bug upstream, and that this error should instead be returned if the key vault is not found: https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/azurerm/resource_arm_key_vault_access_policy.go#L154

[2019-02-20 23:47] lukehoban commented on #184
Did you run `pulumi refresh`?  You should not see “refreshing...” during a `Pulumi update`.

Are you seeing this now consistently, even after doing the update?

[2019-02-21 10:45] oliverholliday commented on #184
My update script used `pulumi up -r` and I was getting the delay every time. I've done a manual `pulumi up` on its own, and that's now cleared it up and a refresh proceeds properly now without the delay.

[2019-02-21 18:36] jen20 commented on #184
Hi @oliverholliday! I've tried reproducing this, but can't get it to happen on my machine with the latest version of the Pulumi CLI and the latest Azure provider. Here's the steps I took - perhaps you could see if anything is obviously different?

First, statically allocate an IP address using the now-deprecated approach:

[code]

Run `pulumi up` for this configuration, then change the program to

[2019-02-21 18:40] oliverholliday commented on #184
Hi, many thanks for checking.

I did update versions as part of the same update:

[code]

[2019-02-21 18:52] jen20 commented on #184
@oliverholliday Hmm curious - making the same version upgrade between steps doesn't seem to make a different locally either. Are you able to tell what version of the SDK the public IP was _first_ created with?

[2019-02-21 19:06] oliverholliday commented on #184
I was using the following packages when I first created that resource:

[code]

The only other thing I can think of is that I have resources dependent on the IP - an ingress and a DNS entry.

[code]

[2019-02-21 19:26] jen20 commented on #184
I'll try using that version and adding a dependent resource - thanks for the additional information!

[2019-02-21 19:33] jen20 commented on #183
This has been fixed upstream now, in terraform-providers/terraform-provider-azurerm#2922 (in the exact form for this issue), and also in other resources susceptible to the same kind of failure (in terraform-providers/terraform-provider-azurerm#2923). It looks like they'll be in the 1.23.0 release upstream, so will get pulled in during the update when that is released.

Thanks for your patience in

[2019-02-21 19:33] #183 closed

[2019-02-21 19:35] #170 closed

[2019-02-22 23:22] metral opened #186 "When getting an existing cluster, there isn't a way to pull the kubeconfig"
In the current cluster object, we can use the `cluster` props: `certificateAuthority`, `name`, and `endpoint` to fill in the blanks in the kubeconfig file https://gist.github.com/b01eeecacccc3e284771463ed626af5e

we only do this right now in the object constructor, when we should actually have a `kubeconfig()` method on the object.

see community slack: https://pulumi-community.slack.com/archives/

[2019-02-27 04:59] jeffhollan opened #190 "Allow for 'zip deployment' and WEBSITE_RUN_FROM_PACKAGE=1"
Per some recent performance work, where possible you'll get better and more consistent cold start if you use `WEBSITE_RUN_FROM_PACKAGE=1` instead of `WEBSITE_RUN_FROM_PACKAGE={blobURL}` (I'll be updating docs per [this issue](https://github.com/Azure/Azure-Functions/issues/1133) as well.

Would be good for Pulumi to allow this deployment option as well so Azure users can get the cold start benefit

[2019-02-27 05:19] lukehoban commented on #190
Thanks @jeffhollan!

Looks like currently, this would impact the code in https://github.com/pulumi/pulumi-azure-serverless/blob/master/nodejs/azure-serverless/functionApp.ts, but I’ll leave the issue here since we’re likely to pull that code over into pulumi-azure at some point soon.

As an aside, I will note that it’s a little unfortunate the hoops you have to go through to do this, and that ther

[2019-02-27 05:21] jeffhollan commented on #190
It's a valid point and I squirmed a bit while writing the issue because agree it's non-ideal.  We are tracking improvements that would allow more consistency in deployments, but couldn't speak to an ETA on when it might arrive.  Likely not in the current semester (e.g. before July 1)

[2019-02-28 10:55] StefanSchoof opened #192 "Unable to assing keyvault Access Policy to function app identity"
I try to set up a azure function with a managed identity to get permission to access a keyvault.

[code]

this script results in following error:

[code]

Why does pulumi does not accept the `tenant_id` and `object_id` the `pulumi.Output` as field?

[2019-02-28 20:28] lukehoban commented on #67
Given how pervasive use of `AppService` is, this feels important to root cause.

[2019-03-01 22:30] clstokes opened #193 "Enable ARM_PROVIDER_STRICT to protect against dangerous behavior"
Some of the Azure APIs allow for accidental "adoption" of existing resources, because the API operations behave as "create or update" operations. This is especially dangerous for creating Resource Groups as developers can "adopt" another resource group in their account by re-using the same group name. Then when making changes or doing a `destroy` can unintentionally and unknowingly delete resource

[2019-03-02 19:22] lukehoban commented on #182
Opened 3 issues to track various pieces of this:
1. https://github.com/pulumi/pulumi/issues/2453 on the incorrect diff displayed to the user
2. https://github.com/pulumi/pulumi-terraform/issues/329 on the unexpected replaces
3. https://github.com/pulumi/pulumi-azure/issues/193 to ensure that Create fails when there is an existing resource which would have prevented the disappearance

I'll close th

[2019-03-02 19:22] #182 closed

[2019-03-04 22:59] pgavlin commented on #182
FWIW, I cannot reproduce this with the latest bits. Looking through the history, it looks like [this commit](https://github.com/pulumi/terraform-provider-azurerm/commit/1a13146128179a169da1a79cb10e7efadd522717#diff-c54581536d48be6e1889fa2df99500da) changed the relevant field from an optional forcenew with a default to an optional computed forcenew. If I remove the computed annotation from the sche

[2019-03-06 09:01] juchom commented on #67
Here is something interesting:

Changing:

[code]

To

[code]
Everything works, hope this helps!

[2019-03-07 19:04] jen20 commented on #184
Hi @oliverholliday! I've tried reproducing this using a variety of mechanisms - including the exact provider version path you mentioned - but nothing seems to actually be triggering it at this end. Have you run into it since, or with other resources?

[2019-03-11 14:52] oliverholliday commented on #184
Ever since doing a non-refresh update I've not had this issue at all.

[2019-03-11 15:17] oliverholliday opened #200 "'could not load plugin for azure provider' 'failed to locate compatible plugin'."
I had a strange issue this morning where I got the below error message when doing a `pulumi preview` on our CI machine (Ubuntu). I ran the update locally instead on Win10 and it worked ok. Since then the update proceeds normally even on CI.

[code]

We have a system set up to share state between CI and local updates so they were both operating against the same state files. I'd done a `pulumi refre

[2019-03-11 15:22] lukehoban commented on #200
Do you know if you had different versions of NPM packages installed on the local environment and in the CI environment?  Can you share the section of your state file before and after this problem that describes the default Azure provider mentioned in the error message?

[2019-03-11 15:25] lukehoban commented on #200
@swgillespie looks like this may be related to recent changes to resource provider versioning - do you know what could cause these symptoms?

[2019-03-11 15:29] oliverholliday commented on #200
When I ran the initial refresh / preview on Win10 the following changes got made to my stack json:

[code]

[2019-03-11 16:35] oliverholliday commented on #200
Apologies, I've edited the above fragment - the nodejs plugin was removed entirely in that update.

[2019-03-11 18:03] swgillespie commented on #200
Thanks for the report!

Unfortunately, the error message that the Pulumi CLI emits here is very unhelpful. I'll make a fix for that so that we at least emit the version of the plugin that we are looking for.

If it is possible for you, do you mind running `pulumi preview` with flags `--logtostderr -v 7` and posting the results here? The CLI should log some information about why it is rejecting the

[2019-03-11 18:19] lukehoban commented on #184
Closing this out since we don't seem to be able to reproduce the original issue - it's possible there was some Azure issue or connectivity issue at the original root of this - but will be hard to pin that down without a repro.

If others see very slow `refresh` on Azure - please do leave a note here with details and we can re-open if needed.

[2019-03-11 18:19] #184 closed

[2019-03-11 18:22] jen20 commented on #157
A simpler fix for this is to just override the name, I'll open a PR shortly.

[2019-03-11 18:49] swgillespie commented on #200
To anyone else having this issue:

You can set the environment variable `PULUMI_ENABLE_LEGACY_PLUGIN_SEARCH=1` to get unblocked and load plugins exactly as before.

[2019-03-11 18:52] timmyers commented on #200
Here is my output running into the same issue with the `aws` provider:

[code]

[2019-03-11 19:32] #157 closed

[2019-03-11 21:15] swgillespie commented on #200
I'm having trouble coming up with a sequence of steps that reproduces this issue. Can anyone that has run into this issue provide 1) a set of steps that got their machine into a bad state, 2) the output of `pulumi plugin ls`, and 3) the output of `pulumi preview --logtostderr -v 7`?

In terms of anecdotal evidence, @timmyers has been using Yarn - @oliverholliday are you also using Yarn and/or did

[2019-03-11 23:37] geekflyer commented on #200
@swgillespie I also hit this issue a few minutes ago. In an attempt to resolve it I deleted node_modules ~/.pulumi, upgraded all dependencies and reinstalled pulumi from scratch. None if this helped.  What actually eventually helped was running once PULUMI_ENABLE_LEGACY_PLUGIN_SEARCH=1 pulumi up  and after that the issue didn't appear anymore, even if not setting PULUMI_ENABLE_LEGACY_PLUGIN_SEARCH

[2019-03-11 23:42] geekflyer commented on #200
If you can tell me if and how I can recover a certain snapshot of a stack I probably can "rollback" to the state where this issue occured and help reproducing this.

[2019-03-11 23:50] swgillespie commented on #200
I'm not aware of a way to roll back to an older version of a stack, unfortunately. The fact that your stack was OK after `pulumi up` with the env var set is a super useful clue, though - thanks!

Here's what I think is going down:

1. A user initiates an upgrade via npm or yarn of a package that requires a provider plugin.
2. For whatever reason, the provider plugin is not installed by the package

[2019-03-12 13:38] adaniline-traderev commented on #200
I have the same issue when running on Jenkins:
`yarn install` does not install any plugins under `~/.pulumi`, and `pulumi up` gives an error

[2019-03-12 17:24] swgillespie commented on #200
Thanks to @adaniline-traderev's example on slack (thank you!) I had a moment of inspiration and here's what's going on here and here is a set of repro steps.

1. Start with this program:

[code]

[code]

2. Create a stack and initialize config:

[code]

3.  yarn install

[code]

4. Observe that a plugin did get installed, at version 0.17.0

[code]

5. Pulumi update:

[code]

6. Upgrade to version

[2019-03-12 17:26] swgillespie commented on #200
Also worth noting is that, although this bug masqueraded as an issue with our new plugin load behavior (and `PULUMI_ENABLE_LEGACY_PLUGIN_SEARCH`), this is actually not a new bug and both the old and new plugin loading behaviors are equally broken.

[2019-03-12 17:30] oliverholliday commented on #200
Nice one

[2019-03-14 13:31] oliverholliday commented on #120
Another one is `core.getResourceGroup(): GetResourceGroupResult` - the lack of `name` property on the return value makes it a bit of a pain to use. Using `new core.ResourceGroup` returns an object that has one.

[2019-03-16 18:01] lukehoban commented on #200
This is fixed with https://github.com/pulumi/pulumi/pull/2560 which is part of the `0.17.2` release.

[2019-03-16 18:01] #200 closed

[2019-03-19 18:20] jen20 commented on #193
The best way to make this happen is to disable the check for the environment variable in our fork of upstream, since otherwise we'll rely on package init ordering. pulumi/terraform-provider-azurerm#14 does this.

[2019-03-19 18:53] jen20 commented on #67
Hi @juchom! Sorry for the delay in responding here. I just tried reproducing this with the latest versions of the Pulumi CLI (v0.17.1) and `pulumi-azure` (v0.17.2), using your detailed (thank you!) AppService example of adding Application Insights. I believe this was one of a class of bugs fixed by @pgavlin's recent work to improve handling of default values.

After running the second part of the

[2019-03-19 18:53] #67 closed

[2019-03-19 19:37] #193 closed

[2019-03-30 19:06] nickvdyck opened #204 "Error when adding a slot to a functionapp"
I keep running into the following issue when adding a slot to an azure functionapp:

[code]

I tried a couple of different settings but can't seem to get it to work. It works just fine when adding a slot to an appservice.

The following is a 'small' reproduction of the issue:
[code]

[2019-04-02 08:49] moattarwork opened #206 "Unable to define the permissions for the azure app"
I have very simple scenario. I've created two azure ad apps for frontend and backend and now I need access to backend to be gven to frontend app.

In azure CLI there are couple of way I can do that:
- With the help of **--required-resource-accesses** flag
- Using **az ad app permission add**

None of them are available in pulumi today as I understand. I'm wonder if there is anything future release

[2019-04-02 14:16] #120 closed

[2019-04-05 13:57] oliverholliday opened #207 "There is no azure.msi.getUserAssignedIdentity."
There is no `azure.msi.getUserAssignedIdentity`.

I had a brief look in the terraform here: https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/azurerm/resource_arm_user_assigned_identity.go and it seems to list a 'read' method.

[2019-04-15 07:09] tmeckel opened #209 "Random characters at end of resource name"
I did a evaluation of Pulumi if it could be a replacement for Terraform in Cloud projects. I was a bit baffled when I discovered that the Pulumi Azure backend adds always 8 random characters to a resource name

https://github.com/pulumi/pulumi-azure/blob/cf8e011adfd83b3d1f550d35b8dc081224914986/resources.go#L849

https://github.com/pulumi/pulumi-azure/blob/cf8e011adfd83b3d1f550d35b8dc081224914986/

[2019-04-15 15:20] lblackstone commented on #209
Hi @tmeckel, you should be able to specify the name of the resource manually by setting the `name` argument on the resource inputs. See https://pulumi.io/reference/programming-model.html#autonaming for more info on this behavior.

Closing out this issue for now, but feel free to reopen if you have an example where this isn't working.

[2019-04-15 15:20] #209 closed

[2019-04-15 15:25] lukehoban commented on #209
See also https://github.com/pulumi/pulumi/issues/1518 which tracks adding the ability to suppress auto naming at a more coarse-grained level.

[2019-04-15 16:12] tmeckel commented on #209
@lblackstone , @lukehoban thanks for the quick answers. Highly appreciated!

Can someone add the fact about **autonaming** more prominently to the official documentation? Even a small hint would be great. :+1:  like some **TL;DR** stuff in the _Getting started_ chapters e.g. https://pulumi.io/quickstart/azure/index.html

I guess this would be very valuable to others because I think when you come f

[2019-04-17 14:36] MariuszKogut opened #210 "Rename azure.eventhub.Topic to azure.servicebus.Topic"
We are using Azure ServiceBus. Is there a way to create our ServiceBus Resources using Pulumi?

[2019-04-17 16:55] lukehoban commented on #210
The servicebus resources are apparently misclassified, but are present.  They are available as `new azure.eventhub.Topic()` and other resources within the `eventhub` namespace despite not being part of `eventhub`.

We should fix the namespacing here to correctly match Azure (ideally with deprecations not hard breaks on the existing names).

[2019-04-18 14:39] davidobrien1985 opened #212 "Update AKS cluster fails"
Deployed an Azure AKS cluster in version `1.11.9` with the intent of testing the upgrade to `1.12.7` through Pulumi.

`pulumi version` : `0.17.5`
`pulumi_azure`: `0.17.4`
Runtime: python

[code]

[2019-04-18 14:57] lukehoban commented on #212
This looks like the same issue as https://github.com/pulumi/pulumi/issues/2511.

However, the fact that this is getting triggered by trivial updates like just bumping the version suggests this is more serious.

[2019-04-19 00:02] davidobrien1985 commented on #212
Seems similar, yes.
The upgrade works via the `az` cli and I know I've done this in terraform recently.

[2019-04-25 17:09] lukehoban opened #213 "Move serverless function support from pulumi-azure-serverless into pulumi-azure"
Like we did for AWS and GCP, we should move the core `CallbackFunction` concept and event handlers into the core `@pulumi/azure` package for consistency.  We should ideally move everything in `pulumi-azure-serverless` down and then deprecate it.  If that is not possible, we should likely renaming it to `azurex` as the initial foundation of a larger `azurex` package we'll build up in the near futur

[2019-04-25 17:21] joeduffy commented on #119
This doesn't appear to repro any longer. This program provisioned happily:

[code]

[2019-04-25 17:21] #119 closed

[2019-04-25 17:47] joeduffy commented on #186
@metral I am doing a general triage of Azure bugs during the Hackathon today, and ran across this. Is this meant to be an EKS bug? (It's in the Azure repo...)

[2019-04-25 17:50] metral commented on #186
Thanks for following up on this one. It turns out AKS has a means of getting the kubeconfig file already: e.g. `pulumi.export('kubeconfig', aks.kube_config_raw)` so we can close this out.

[2019-04-25 17:50] #186 closed

[2019-04-25 19:35] ellismg opened #215 "Should `azure.storage.Blob` be marked as delete before create?"
Many of the properties on the underlying terraform resource are marked as force new, so when they change, pulumi correctly determines it needs to do a replacement.  However, since the name of the resource has to be unique within the container, if we try to create a new version before updating the old one, we fail with an error like this:

[code]

You can address this by passing `deleteBeforeCreate

[2019-04-26 16:31] ekrengel opened #217 "Token expires during longer Pulumi programs"
@metral  and I were both trying to provision an AKS cluster which took a significant amount of time (~20-40mins). While `pulumi up` was running, our Authorization tokens expired resulting in this error:

[code]

This seems to be related to [this TF error](https://github.com/terraform-providers/terraform-provider-azurerm/issues/3191).

[2019-04-26 22:22] #213 closed

[2019-04-26 23:32] CyrusNajmabadi opened #218 "Add support for more Azure FunctionApp triggers."
We currently support http/topic/container/queue triggers.  However, now that we're on azure functions 2.0 we can support the following as well:

1. [EventGrid triggers](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-grid#javascript-example)
2. [EventHub triggers](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-hubs#trigger---javascri

[2019-04-28 20:24] mikhailshilkov opened #219 "Struggle to update a cosmos db account"
This looks like several unrelated issues, but I decided to bump them all here.

I had a Pulumi program which defined a Cosmos DB account with 1 region:

[code]

`pulumi up` worked and everything was ok.

Now, I changed the account to have two replicas:

[code]

**Problem 1**. `pulumi up` now suggests replacing my existing account with data with a new one:

[code]

the reason is that the name chang

[2019-04-29 13:14] mikhailshilkov opened #220 "Configure URL and HTTP methods of HttpEventSubscription"
1. Now, HTTP function always gets the name of `HttpEventSubscription` which isn't very flexible. E.g. I can't have two Function Apps with functions with same names because I can't name Function Apps the same. I may have multiple Apps each having a Function called "http", which isn't possible now.

2. We should use `route` parameter too.

Here is an example of HTTP binding which is not possible wit

[2019-04-29 13:15] mikhailshilkov commented on #220
ping @CyrusNajmabadi

[2019-04-29 19:08] CyrusNajmabadi commented on #220
So i orignally thought about thsi.  But i don't know why this needs to be on hte binding.  We already pass the user a HttpRequest object that has these values:

[code]

Is that not sufficient?

[2019-04-29 19:21] mikhailshilkov commented on #220
If you don't have it in the binding, the function won't react to a URL like `https://myapp.bla/anythinggoeshere` but only to `https://myapp.bla/functionname`.

[2019-04-29 20:00] CyrusNajmabadi commented on #220
Ohhh you mean having a way to do wildcard paths.  Yes, we may need that.  Currently we have that in awsx through the use of a ProxyRoute.  We'd likely need something similar here.  I'll keep this open so we can design it properly.  Thanks!

[2019-04-29 20:05] mikhailshilkov commented on #220
Yes, they have a simple templating for Function urls. It can be just `/{name}`, or things like `/{year}/{month}/{day}`. I got blocked because I can't do wildcards (wanted to accept a key of a document to lookup in the database).

[2019-04-30 03:57] lukehoban commented on #219
Problem 2 looks like another manifestation of https://github.com/terraform-providers/terraform-provider-azurerm/issues/2602.

[2019-04-30 15:43] #176 closed

[2019-04-30 17:48] mikhailshilkov commented on #218
+ 4. [Cosmos DB trigger](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2)

[2019-04-30 17:59] mikhailshilkov opened #225 "Multiple functions in a serverless app"
With the latest azure serverless wrappers, each function is always deployed to a separate app.

Function Apps support multiple functions per app, and I think we should still allow this.

Multiple functions share the same resources, which means potentially lower cost and shared cold starts. People also do things like adding a dummy timer trigger to all HTTP functions to prevent some of the cold sta

[2019-05-01 17:50] #220 closed

[2019-05-02 04:44] lukehoban commented on #219
I looked into (1) a bit.

The addition of the second element of `geoLocations` does indeed lead Pulumi to try to do a replacement.  With verbose logs, we see that this was in fact due to a percieved change in the `geoLocations` property.  The logs we get back include:

[code]

Note in particular `replaces=[geoLocations]`.

That said, looking at the Terraform Schema for this, I cannot explain why t

[2019-05-02 10:43] spike008t opened #228 "App Service with docker container"
Actually, app service support docker container (single container, docker-compose and k8s).
But I cannot make it works with Pulumi. Is is possible to support it?

I can see terraform manage it.

[2019-05-04 11:25] johlrich commented on #228
@spike008t  I've been able to do this by setting the `DOCKER_CUSTOM_IMAGE_NAME` application setting on the `azure.appservice.AppService`. If it's behind a custom registry then you also need `DOCKER_REGISTRY_SERVER_URL`, `DOCKER_REGISTRY_SERVER_USERNAME`, `DOCKER_REGISTRY_SERVER_PASSWORD`.

For multi-container `WEBSITES_WEB_CONTAINER_NAME` controls which container is exposed.

[2019-05-07 08:08] mikhailshilkov opened #232 "Simplify output data flow in callback functions"
## Problem

We've simplified the definition of Azure Functions so that people could use JS callbacks and deploy them as functions. The event data is provided as an input to the callback.

Typically, a function would need to produce some data and send it somewhere. At the moment, we only support one type of return data: HTTP response. Obviously, there are lots of other scenarios what developers mig

[2019-05-07 08:09] mikhailshilkov commented on #232
@lukehoban @CyrusNajmabadi would appreciate your ideas

[2019-05-07 11:44] mikhailshilkov opened #233 "Why is SeviceBus in eventhub module?"
I think people might be very confused about this code:

[code]

Nowhere does it say that it's actually a *Sevice Bus* namespace and a *Sevice Bus* topic that are defined here.

Service Bus is not part of Event Hubs product-wise. They both have namespaces which are distinct resources.

Messaging options are confusing enough on their own, let's try not to make it worse.

[2019-05-07 12:17] mikhailshilkov commented on #233
Dup of #210

[2019-05-07 12:17] #233 closed

[2019-05-07 12:20] CyrusNajmabadi commented on #232
Definitely leaning toward Approach1.  It feels like a natural way to project things into the JS sdk.

This doesn't feel too bad.  Just as we've exposed N event-hookup scenarios based on what's available, we can expose the M different sink types as appropriate.

[2019-05-08 08:19] mikhailshilkov commented on #192
Bumped into the same issue today while trying to link KeyVault to an App Service.

A dumb workaround is to create an App Service / Function App first (run `pulumi up` without a vault defined) and then add a key vault and run the program again. It succeeded for me @StefanSchoof

So, it seems that the terraform provider has issues when `tenantId`/`objectId` are set to the output of not-yet-existing

[2019-05-08 08:22] StefanSchoof commented on #192
Thank for the workaround. For me this was the bump, which let me stay at my terraform files (where this is working).

[2019-05-08 09:08] mikhailshilkov commented on #204
If I read [this](https://github.com/Azure/azure-cli/issues/9126#issuecomment-485883803) and [that](https://github.com/terraform-providers/terraform-provider-azurerm/issues/1307) correctly:

- You can't use App Service slots for Functions
- Neither Azure CLI nor Terraform support Function App slots yet

Functions CLI [doesn't support slots either](https://github.com/Azure/azure-functions-core-tools

[2019-05-08 09:25] mikhailshilkov commented on #177
@newtack Am I guessing correctly that you have been using [`pulumi-azure-serverless`](https://github.com/pulumi/pulumi-azure-serverless) for functions?

If so, the functionality got merged into this repo. Could you maybe give it another try? The feature is summarized in [this blog post](https://blog.pulumi.com/serverless-as-simple-callbacks-with-pulumi-and-azure-functions).

[2019-05-08 09:42] mikhailshilkov commented on #159
This one is sometimes annoying. Where does `24` come from @lukehoban?

[2019-05-08 18:33] lukehoban commented on #103
My comment above about this being fixed is incorrect - https://github.com/terraform-providers/terraform-provider-azurerm/issues/1635 is still open.  That said, I believe there is nothing Pulumi-specific we can do here.

The "best current workaround" described there is to sleep for 30 seconds.  That can be done in Pulumi with:

``ts
let adApp = new azuread.Application("aks");
let adSp = new azuread

[2019-05-08 18:33] #103 closed

[2019-05-08 20:58] lukehoban commented on #232
I'll admit that given the underlying Azure Functions feature here, it feels like approach 2 or 3 would be more "natural"?

Adding new runtime helpers is fairly awkward for Pulumi - we've generally avoided this nearly completely (the only example I can think of is exposing `aws.sdk` to get access to a runtime copy of the AWS SDK).

Something where we could declaratively describe the output bindings

[2019-05-09 03:04] CyrusNajmabadi commented on #232
Sorry, i missed particularly that these would be runtime extensions.  I agree with luke that it would make sense ot just try to expose bindings cleanly here.

[2019-05-09 10:17] mikhailshilkov commented on #210
This also applies to Event Grid which has nothing to do with Event Hubs and yet lives in its namespace. I'm doing the Event Grid triggered function and I hate to add it to `eventhubs` namespace...

Shall I try to fix this issue myself?

[2019-05-09 12:18] mikhailshilkov commented on #218
So, the Event Grid trigger implementation is a bit more tricky:

1. In order to link an Event Grid subscription to an Azure Function, the webhook URL [must include a system key](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-grid#version-2x-runtime).

2. There is an HTTP API to get a system key, but it requires [a master key](https://docs.microsoft.com/en-us/azure/

[2019-05-09 13:33] mikhailshilkov opened #235 "Set additional properties of App Service Plan (Premium Functions)"
If I'm not missing something obvious, [only 3 properties](https://github.com/pulumi/pulumi-azure/blob/master/sdk/nodejs/appservice/plan.ts#L115) of an app service plan can be set now.

For Azure Functions Premium, I need to set `maximumElasticWorkerCount` property, otherwise, it defaults to `1` which is kind of useless.

ARM seems to support [several other properties](https://docs.microsoft.com/en

[2019-05-09 17:21] lukehoban commented on #210
The issue is that this will be a breaking change (as the namespace structure is part of the Pulumi identity of resources).

This is also related to https://github.com/pulumi/pulumi-azure/issues/97 which tracks the broader breaking change we need to make to fix up namespacing.

As noted in that issue, we have work in progress on a solution for enabling these renaming a without a breaking change. So

[2019-05-09 19:29] ColbyTresness commented on #204
CC @dariagrigoriu for the actual issue.

To be honest what @mikhailshilkov references is more of a lack of documentation thing than a lack of support thing (which I'm looking at fixing). Slots are actually something we're working on improving. For the dedicated plan, they're GA, and for consumption, preview (hence some bugs which you seem to be running into).

[2019-05-10 00:43] davidobrien1985 opened #238 "azure.storage.blob uploads 0B file even if not found"
With below block, if the file in `source` does not exist, then a file of size 0 will still be uploaded with that name.
Pulumi throws an error with "file not found", the resource is not created in pulumi state, but a blob with that name has still been created in the storage container.

This seems unexpected.

[code]

[2019-05-10 07:40] mikhailshilkov opened #239 "Bug in automatic location propagation for non-existing resource groups"
I think #216 doesn't fully work just yet.

Here is a simple repro:

[code]

If I run this on a clean stack, I get an error on preview:

[code]

**Workaround**:

I can make it work by first deploying the resource group without the storage account, and then deploying the storage account. If the resource group exists, location propagation works as advertised.

[2019-05-10 07:41] mikhailshilkov commented on #239
tagging @joeduffy @jen20

[2019-05-10 11:53] mikhailshilkov opened #240 "Logic Apps support"
I spend a couple of hours digging into Logic Apps with Pulumi, so I'm documenting my findings. My idea was to implement something like an App polling Twitter for a search term (e.g. Pulumi) and then sending notifications to a queue. These things make nice demos.

Pulumi has *some* support for Logic App resources, but not enough. The only strongly-typed trigger supported is Timer, and the only acti

[2019-05-10 15:50] lukehoban commented on #240
Is it possible to do this 100% with ARM?  Is it it not even fully supported at that layer?

[2019-05-10 16:00] lukehoban commented on #235
Yes, this is most likely a limitation that needs to be fixed in the upstream AzureRM Terraform provider.

[2019-05-10 16:00] mikhailshilkov commented on #240
Haven't tried for real, but it looks like it's *mostly* supported apart from some extra moves needed for [OAuth authorization](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-create-deploy-azure-resource-manager-templates#authorize-oauth-connections)

[2019-05-11 19:25] alexeyzimarev opened #241 "Creation of azure.keyvault.Certiticate fails with"
Running the certification creation code from the example:
https://pulumi.io/reference/pkg/nodejs/@pulumi/azure/keyvault/#example-usage-generating-a-new-certificate

It consistently fails:

[code]

[2019-05-12 13:08] alexeyzimarev opened #242 "Panic on updating the stack with azure public ip"
I have a running stack in Azure and I made quite a lot of changes in the code _except_ everything that is related to AKS and the public IP for the AKS ingress. Now, when I run the `pulumi up` command, I suddenly get this:

[code]

Again, no changes were made to the ip address code, which looks like this:

[code]

Also, no changes were made to the `k8sCluster` provisioning code, but the code to cre

[2019-05-12 14:14] lukehoban commented on #242
I believe this is another occurrence of https://github.com/pulumi/pulumi-azure/issues/239.

[2019-05-12 14:54] alexeyzimarev commented on #242
Does it mean that setting the location should solve the issue? I will try that.

[2019-05-12 19:40] alexeyzimarev commented on #242
Seems with work when the location is set explicitly.

[2019-05-13 13:07] oliverholliday opened #243 "Errors creating NsRecord."
When trying to create an NsRecord entry for a DNS Zone in an existing Zone I hit some snags.

[code]

The following (and variations) didn't work. Note that I'm using the `records` field not `record` yet I receive a verification error for `record`.

The type definition for `NsRecordArgs.records` is this, but it doesn't seem to be correct (object expected):
[code]

[code]

This did work, but it is c

[2019-05-13 13:44] newtack commented on #177
Thanks! This is a great improvement.

[2019-05-13 18:18] jen20 commented on #212
This will be fixed by #245. Thanks for reporting, @davidobrien1985!

[2019-05-13 22:52] lukehoban commented on #242
Great.  I believe this also only impacts `preview` before the `ResourceGroup` is constructed.  So running the first time with `pulumi update --skip-preview` should work around.

I'll close this one out and we can track the fix for this in #239.

[2019-05-13 22:52] #242 closed

[2019-05-13 23:25] lukehoban commented on #241
I was not able to reproduce this error myself - but I believe the example in question here requires some customization to fit with a particular usage environment.  If there is a specific repro available that triggers this specific error - I'd love to see it.

[2019-05-14 00:14] joeduffy opened #246 "Document how to integrate with Health Integrated Rollouts"
We've been asked from time to time how to integrate with the Health Integrated Rollouts feature of Deployment Manager: https://azure.microsoft.com/en-us/blog/introducing-health-integrated-rollouts-to-azure-deployment-manager/. (Note that this is also sometimes referred to by its codename, "EV2.") This is possible, however, we should document how.

[2019-05-14 09:41] mikhailshilkov commented on #241
I'm able to reproduce this same error by copy-pasting that snippet 1-to-1.

[2019-05-14 10:35] oliverholliday opened #247 "Error during replace of azure.sql.Database"
During a replace of a resource triggered by renaming it, I got the following error:

[code]

The new resource was created and everything else proceeded correctly.

[2019-05-14 10:39] oliverholliday commented on #247
Also - the resource is gone from the stack file and remains on azure, it should have been deleted but wasn't.

[2019-05-14 18:28] #239 closed

[2019-05-15 08:42] mikhailshilkov commented on #235
Created a terraform issue https://github.com/terraform-providers/terraform-provider-azurerm/issues/3445

[2019-05-16 17:26] spike008t commented on #228
@johlrich thanks for your response, I'll give a try and give a feedback

[2019-05-17 06:24] mikhailshilkov commented on #228
@johlrich Thanks for jumping in! This seems to be a common ask so I'd love to make a new example for this scenario. Do you happen to have some code that I could take as a base? That would be awesome :)

[2019-05-17 06:28] mikhailshilkov opened #252 "Cosmos DB - database and collection resources"
Currently, Pulumi only supports creating Cosmos DB accounts - not databases or collections.

Terraform just [merged](https://github.com/terraform-providers/terraform-provider-azurerm/pull/3442) this support, so I'm creating this issue to make sure we transfer this capability to Pulumi.

In addition, we need to add/update an example and enable serverless trigger on the collection resource level.

[2019-05-17 08:57] johlrich commented on #228
@mikhailshilkov  Those settings get added to the appSettings, so something like:

[code]

This bookmark helped me figured this stuff out: https://docs.microsoft.com/en-us/azure/app-service/containers/app-service-linux-faq#custom-containers It also describes other app settings to control ports, change startup timeouts, attach storage.

This is optional, but if you make your own containers and want

[2019-05-17 09:22] spike008t commented on #228
I want to add some comments about that on what I've seen at the moment when create a new stack.

- When creating the linux AppPlan, if I do not set `preserve: true` on the linux App Plan, all the AppServices belong to this app plan do not have containers settings on the web portal.
- On AppService,
  - I have to add on siteConfig the field `linuxFxVersion: 'DOCKER|<registry>.azurecr.io/image'`
  -

[2019-05-17 09:36] johlrich commented on #228
@spike008t Good call on the plan, I forgot to mention that I also have kind: Linux / reserved: true

Best way I found to troubleshoot startup issues was via the appservice's portal blade by enabling logging in the Diagnostics log tab and then look at the Log stream tab. You should see logs for for it pulling the image, the docker run call and polling for startup before your applications logs appea

[2019-05-17 10:16] spike008t commented on #228
Oh in fact thats works.... The issue was by my side, I didn't configure correctly my container... All seems ok for me

[2019-05-17 15:16] kennyjwilli commented on #228
I also struggled with getting a Linux Docker container to run on App Service. My goal was to write a Pulumi program that ran a custom container by following [this guide](https://docs.microsoft.com/en-us/azure/app-service/containers/quickstart-docker-go). Using the CLI or console UI as a guide was not helpful -- each one names parameters differently and does not align with the actual REST API calls

[2019-05-17 15:24] spike008t commented on #228
Some answers:

- About multiple ports on an AppService, this is not possible, only 80 and 443 are open.
- To get the URL of your app you can retreive the url on the `defaultSiteHostname` attribute of AppService instance. You can exports the generated values (eg: ```exports.myAppUrl = myApp.defaultSiteHostname.apply(n => `https://${n}`)```), doing so, after deploying, pulumi will display the output

[2019-05-17 16:37] johlrich commented on #228
You can set `perSiteScaling: true` for the `azure.appservice.Plan` to setup the plan for this.

For the app itself, there's unfortunately no way to set the siteconfig's numberOfWorkers via the upstream terraform provider yet AFAIK. Calling the ARM api to update the configuration should allow you to fill that gap for now http://docs.microsoft.com/en-us/rest/api/appservice/webapps/createorupdateconf

[2019-05-17 23:58] lukehoban commented on #159
This comes from https://github.com/pulumi/pulumi-azure/blob/master/resources.go#L961, which can be overridden on a per-resource basis such as here https://github.com/pulumi/pulumi-azure/blob/master/resources.go#L288.  Unfortunately, many Azure resources do have very low limits on name length, so we had to go with a conservative default.

If we can gain confidence that we've identified all the reso

[2019-05-17 23:59] lukehoban commented on #159
And of course - if we want to fix for just AppService - that is easy to do just like we do for `FunctionApp`.

[2019-05-19 06:13] davidobrien1985 commented on #228
One thing with this that I'm still struggling with is the fact that in the portal when applying this configuration the "Container Settings" show "Private Registry" and not "Azure Container Registry".
It obviously works, just wondering what setting is responsible for this, as I can't find anything in the config or resources.azure.com .

[2019-05-20 08:31] mikhailshilkov commented on #228
@davidobrien1985 It seems that the portal expects "Azure Container Registry" URL to start with `https`. If I do this in my Pulumi program:
[code]
then the portal shows the first tab.

[2019-05-20 10:26] mikhailshilkov commented on #252
Ok, the databases are supported now, but not SQL Collections yet.

[2019-05-20 10:32] mikhailshilkov commented on #218
I'm watching https://github.com/Azure/azure-functions-host/issues/3994 which should simplify the implementation of the Event Grid trigger (no need to call Kudu APIs)

[2019-05-21 09:52] monarci commented on #240
I have some working ARM that creates a service bus queue, sets it up as a connection for a logic app, and then a logic app that uses that connection. Not sure about all other connection types, but was able to get it working with service bus queues.

Example code up on my blog: https://www.monc.io/posts/2019/05/example-of-logic-app-with-service-bus/

[2019-05-21 13:14] mikhailshilkov commented on #207
The function is located in a different namespace: `azure.core.getUserAssignedIdentity`. We should probably move it to `msi` as part of #97.

[2019-05-21 16:28] #159 closed

[2019-05-23 12:52] mikhailshilkov opened #258 "Expose signedBlobReadUrl function"
Any reason why `azure.appservice.signedBlobReadUrl` is marked as internal?

We have its copy in [several](https://github.com/pulumi/examples/blob/master/azure-ts-appservice/sas.ts#L7) [similar](https://github.com/pulumi/examples/blob/master/azure-ts-functions/sas.ts#L7) [examples](https://github.com/pulumi/examples/blob/master/azure-ts-appservice-devops/infra/sas.ts#L7) and people are probably cop

[2019-05-23 13:11] mikhailshilkov commented on #192
Two more examples of the same issue:

[code]

For both, preview fails with `"object_id": required field is not set` or `"principal_id": required field is not set`. `pulumi up --skip-preview` works just fine.

I would prioritize this issue as it seems to jeopardize a lot of scenarios for no good reason.

[2019-05-23 15:01] lukehoban commented on #258
We should consider making it public. If we do, I assume it belongs in the storage namespace since it’s actually just about blob storage?

I do still wonder if this is the “right” way to be doing this. I am surprised there is not a Terraform data source available already to do this. A risk with the current implementation is that it uses the azure sdk in JavaScript, which in the general case won’t b

[2019-05-24 13:06] mikhailshilkov opened #260 "Static websites on Azure Blob Storage"
I want to make a sample of [Static website hosting in Azure Storage](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-static-website) on Pulumi, with CDN, custom domain, etc.

However, it turned out that [Terraform doesn't support this feature](https://github.com/terraform-providers/terraform-provider-azurerm/issues/1903). And looks like it won't in the nearest future.

Apart from

[2019-05-24 14:11] lukehoban commented on #260
For one-off missing things, using an embedded ARM template is probably best (assuming it’s supported in ARM).

Next best is using dynamic providers to wrap `az` CLI invocations.

[2019-05-24 15:11] joeduffy opened #261 "Replace HttpFunction example with more "official" support"
We have a fairly complex example in the pulumi/examples repo showing how to create a Function triggered by HTTP: https://github.com/pulumi/examples/tree/master/azure-ts-functions.

This is a helpful bit of functionality, but I (mistakenly) thought we had a `HttpFunction` in the Azure package itself that we could use (similar to the `CallbackFunction` we have in the AWS package).

Since most people

[2019-05-24 15:18] mikhailshilkov commented on #261
@joeduffy Maybe have a look at https://github.com/pulumi/pulumi-azure/pull/255 while you are here, as that might change the API surface

[2019-05-24 15:24] joeduffy commented on #261
Oh, perfect! That looks very nice! After merging, do you mind updating that https://github.com/pulumi/examples/tree/master/azure-ts-functions example to use the new types? This is going to be _very_ powerful and helpful to have :+1:

[2019-05-24 17:36] lukehoban commented on #219
For reference - here is the repro:

[code]

[2019-05-24 17:48] lukehoban commented on #219
The issue in step (1) is a bug in the upstream Terraform AzureRM provider.  The `location` field on `geo_location` element types is set as `ForceNew`, which causes any addition of a geo location to trigger a replacement (Terraform's internal diff treats "not present" => "EastUS" as a diff which triggers the ForceNew - very unfortunate since that is almost never what this transition has to imply at

[2019-05-24 20:15] mikhailshilkov commented on #219
Thanks for your analysis @lukehoban
Is there an open upstream issue for (1)?
They also seem to add regions one-by-one, which adds to the total time it takes to provision the full cluster and contributes to (2).

[2019-05-24 20:34] CyrusNajmabadi commented on #261
We do.  We call it [HttpEventSubscription](https://github.com/pulumi/pulumi-azure/blob/884d6300f8134ec539c61e3a5a0488a32e246348/sdk/nodejs/appservice/zMixins_http.ts#L112).  Is that not sufficient for what you're trying to do here?

[2019-05-24 20:35] CyrusNajmabadi commented on #261
Oh strange.  For some reason github didn't show the responses to the original post.  I see that @mikhailshilkov already gave this info :)

[2019-05-26 17:40] #258 closed

[2019-05-27 18:08] lukehoban commented on #192
I believe this is caused by https://github.com/pulumi/pulumi/issues/2433.  This causes `undefined` instead of `Unknown` to get passed through, which then gets erased at the marshalling boundary.

From verbose logs notice that `keyVaultId` is present in the values marshalled to the provider, but `objectId` and `tenantId` are not.

[code]

[2019-05-27 18:17] lukehoban commented on #192
BTW - two available workaround until this is fixed:

1. Do `pulumi up --skip-preview` on the first deployment.  This issue only affects when a preview is done before any updates have been done, so will not occur on future `pulumi up`s.

2. Add a default value in the `.apply` - like `functionApp.identity.apply(identity => identity.principalId || "11111111-1111-1111-1111-111111111111")` (in this cas

[2019-05-27 19:42] lukehoban commented on #219
Opened https://github.com/terraform-providers/terraform-provider-azurerm/issues/3532.

Definitely feel free to open an issue and/or PR on that upstream as well!

[2019-05-27 19:42] #219 closed

[2019-05-28 08:29] mikhailshilkov opened #263 "Hiding App Service behind a VNet"
One problem with Azure App Service has always been the fact that it's open to the internet. This is changing: Azure has a preview feature to [Integrate your app with an Azure Virtual Network](https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet) in combination with [Access Restrictions](https://docs.microsoft.com/en-us/azure/app-service/app-service-ip-restrictions) and

[2019-05-29 07:41] mikhailshilkov commented on #260
It appeared I was wrong and ARM doesn't support it either. Took a stab at implementing a dynamic provider, seems to work, see the PR above.

[2019-05-29 17:16] JustinGrote commented on #204
Looks like https://github.com/Azure/azure-cli/issues/9126 is in progress to fix this for function slots.

[2019-06-03 12:30] mikhailshilkov commented on #260
An example is now available at https://github.com/pulumi/examples/tree/master/azure-ts-static-website

[2019-06-03 12:30] #260 closed

[2019-06-03 18:24] stack72 commented on #252
@mikhailshilkov can you give me a quick TL;DR of what is still required for this issue? Is this a limitation upstream?

[2019-06-03 18:31] mikhailshilkov commented on #252
Yes, they added a database and some collection types, but not the "SQL Collection" - a native Cosmos DB collection, see https://github.com/terraform-providers/terraform-provider-azurerm/issues/3506

[2019-06-03 18:31] mikhailshilkov commented on #252
Yes, they added a database and some collection types, but not the "SQL Collection" - a native Cosmos DB collection, see https://github.com/terraform-providers/terraform-provider-azurerm/issues/3506

[2019-06-04 13:28] nithril opened #268 "Error when creating a VM from an custom image that already has a datadisk and without specifying diskSizeGb"
Pulumi version: v0.17.14

I try to create a VM from an image referenced by ```storageImageReference```. That image is a custom image created from a VM that already had an os and and data disk.

[code]

When executing ```pulumi up``` and when the changes are applying, pulumi is throwing the following error:
[code]

Setting diskSizeGb to the size of the datadisk workaround the issue.

Thank you for

[2019-06-04 14:28] stack72 commented on #177
Hi @newtack / @mikhailshilkov

Is this still an issue? I'd like to work out what is still missing, if anything, from pulumi-azure

Thanks

Paul

[2019-06-04 14:39] stack72 commented on #252
@mikhailshilkov, as this is a missing resource upstream, I am going to close this out. When the work to add support for `SQL Collections` is added, we will get a warning in the code generation that we need to add it

I am going to link https://github.com/terraform-providers/terraform-provider-azurerm/issues/3506 as the correct place for the questions on this

[2019-06-04 14:39] #252 closed

[2019-06-04 14:43] stack72 commented on #212
Hi @davidobrien1985

Please can you tell me if you had a chance to try the fix that was merged in #245?

We believe this will solve your issues

Thanks

Paul

[2019-06-04 15:31] stack72 commented on #241
I can confirm that I get the same error :

[code]

[2019-06-04 15:33] stack72 opened #269 "Namespace problem: azure.keyvault.Certifiate"
Typo in the namespace - should be `azure.keyvault.Certificate`

[2019-06-04 16:12] stack72 commented on #235
Ok, there is a PR open to add this work https://github.com/terraform-providers/terraform-provider-azurerm/pull/3547

Fingers crossed this gets added to the next release of the terraform-provider

[2019-06-04 16:13] stack72 commented on #268
FYI, off the back of this issue, we found that the Terraform docs were not quite correct and a PR was opened there as well https://github.com/terraform-providers/terraform-provider-azurerm/pull/3589

[2019-06-04 16:16] lukehoban commented on #235
Closing out - as this is tracked in the upstream resource provider now.

[2019-06-04 16:16] #235 closed

[2019-06-04 17:27] lukehoban commented on #269
Related https://github.com/pulumi/pulumi-azure/issues/97 and https://github.com/pulumi/pulumi-azure/issues/210.

[2019-06-04 17:54] stack72 commented on #215
After an internal discussion, we have decided that this would be a good candidate for a default behaviour change. It is being tracked as https://github.com/pulumi/pulumi-terraform/issues/383

I am therefore going to close this out - the related issue will show when this is available in the providers

[2019-06-04 17:54] #215 closed

[2019-06-05 11:58] stack72 commented on #228
Closed via https://github.com/pulumi/examples/pull/302

[2019-06-05 11:58] #228 closed

[2019-06-05 12:37] stack72 commented on #247
Hi @oliverholliday

Firstly, I need to apologise for the fact we have taken 22 days to acknowledge this issue. This is something we are trying to address and learn to be better on. Please accept my apologies here

Secondly, I have been trying to recreate a similar experience (using TypeScript) and cannot. I have started with this config:

[code]

a `pulumi up` gave me the following:

[code]

I the

[2019-06-06 13:30] stack72 commented on #57
Hi @loic-sharma

I just opened this issue upstream as this needs added there https://github.com/terraform-providers/terraform-provider-azurerm/issues/3607

If you can provide a little more detail about why you need to use these endpoints on that issue, then that would help the Terraform team prioritise it

I am going to close this issue out as a duplicate. We can track that upstream issue and when

[2019-06-06 13:30] #57 closed

[2019-06-06 13:32] stack72 commented on #210
I am going to close this issue out and link it with #97 so we can track all of the migrations in that same issue

[2019-06-06 13:32] #210 closed

[2019-06-06 13:33] stack72 commented on #269
Going to close this out as it's linked to #97

We can track all of the work in that issue rather than have multiple issues tracking a similar issue

[2019-06-06 13:33] #269 closed

[2019-06-06 13:34] mikhailshilkov commented on #240
We'll close this issue for now and will track the upstream issue for support of API connectors. When that one is done, we'll re-evaluate the whole Logic Apps story.

[2019-06-06 13:34] #240 closed

[2019-06-06 13:48] stack72 commented on #207
Thanks for this @mikhailshilkov - you are indeed correct. That will be handled in this iteration

I am going to close this out and we can track all of this work in #97

[2019-06-06 13:48] #207 closed

[2019-06-07 15:58] stack72 commented on #71
@lukehoban I think we should close this out - it would be a completely difference provider like it is in Terraform - what do you think?

[2019-06-07 16:22] lukehoban commented on #71
I think this was intended to track creating a Pulumi provider mapped to the Azure Stack Terraform Provider.  I have not yet heard concrete demand for this - so I'm happy to close this out until we do.

[2019-06-07 16:22] #71 closed

[2019-06-07 16:40] #117 closed

[2019-06-08 12:36] ChristianEder commented on #232
If I may give my opinion:

I'm strongly in favor of option 2 - let me explain why:

**Option 1**
Pro:

- The code looks neat & clean

Con:

- pulumi either basically implements client SDKs for any service that can be used as output, or takes dependencies on existing SDKs
- Most likely, it won't be possible to provide the same value to users that the bindings provided by Microsoft do - like e.g. re

[2019-06-09 22:02] joeduffy opened #277 "Create an AzureX package"

[2019-06-10 13:45] stack72 commented on #247
Hi @oliverholliday

I am going to close this out - if this is still a problem or your issue isn't quite the same as I have been testing, then please do comment and I will reopen it

Thanks for raising the problem, and sorry again for the period of inactivity

Paul

[2019-06-10 13:46] stack72 commented on #212
Hi @davidobrien1985

I am going to go ahead and close this out. I am hoping that your issue is resolved, but if there is still a problem for you, then please do let me know

Paul

[2019-06-10 13:46] #212 closed

[2019-06-10 13:48] oliverholliday commented on #247
Apologies I was trying to see if I could replicate it, but I couldn't.

I think you're right and that it was a temporary Azure snafu.

[2019-06-10 13:51] stack72 commented on #177
Hi @newtack / @mikhailshilkov

I am going to close this one out - it doesn't seem to be an issue but if I am wwrong, then please do let me know and we will reopen it

Paul

[2019-06-10 13:51] #177 closed

[2019-06-10 14:16] stack72 commented on #247
@oliverholliday thanks for getting back to me on this - if this happens again, please give me a shout and we can look into it!

Thanks

Paul

[2019-06-10 14:58] #247 closed

[2019-06-11 14:25] mikhailshilkov opened #278 "Improve the error message to help set the default location"
The following definition is perfectly valid (see #216):

[code]

but it requires a config parameter `azure:location` to be set for the current stack. If the parameter is NOT set, the following error is shown to the user:

[code]

AWS provider is much more helpful in a similar case:

[code]

We should change the Azure provider to report a similar hint of setting a config value instead of suggesting

[2019-06-11 16:34] stack72 commented on #167
@jen20 The [Azure setup page](https://pulumi.io/quickstart/azure/setup/) now has the following information on it:

[code]

Are you happy that this can be closed out?

[2019-06-11 16:35] jen20 commented on #167
Yup, the new guidance there seems to cover this.

[2019-06-11 16:35] #167 closed

[2019-06-11 16:48] stack72 commented on #217
Linking this issue... https://github.com/terraform-providers/terraform-provider-azurerm/issues/2602

[2019-06-11 16:49] stack72 commented on #217
Reproduction code https://pulumi.io/quickstart/kubernetes/tutorial-azure-kubernetes-service/

[2019-06-12 13:32] mikhailshilkov commented on #232
Here is an example usage for my current suggestion:

[code]

Every call to the HTTP endpoint will result in two messages in `queue` and then two messages in `queue2`.

---

A have a prototype code where this example works. Everything seems to be doable. The highlights of the changes:

[code]

---

Any opinions and suggestions are welcome!

[2019-06-12 14:37] mikhailshilkov commented on #232
Actually, the same technique can be applied to Input Bindings too. If generalize the above, I can also make this work:

[code]

[2019-06-13 11:07] ChristianEder commented on #232
Could you provide the code you used to implement that for my PR? Or should I just close the PR and you will start fresh?

[2019-06-13 11:07] ChristianEder commented on #232
I am currently struggling to implement your proposal in my PR

[2019-06-13 11:59] mikhailshilkov commented on #232
It's based on my other branch and needs some clean up. Is it okay if you wait until the other PR is merged and then I can contribute (or open a new one, if that's easier)?

[2019-06-13 12:40] mikhailshilkov commented on #115
@jen20 Could you elaborate a bit? As of now, the tag usage from [this AWS example](https://github.com/pulumi/examples/blob/b01603bc999b56547addb3b39a28d6c631054b9b/aws-ts-stackreference/team/index.ts#L33) seems to apply to Azure. This code

[code]

seems to work just fine.

I do see the [aws.Tags](https://github.com/pulumi/pulumi-aws/blob/master/sdk/nodejs/tags.ts#L19) type that you mention but I

[2019-06-13 12:58] mikhailshilkov commented on #116
AWS provider has a type `InstanceType` and properties `instanceType` are declared to be of that type. Ideally, we would force the same for new sum types in Azure.

However, the type of `location` wasn't changed (#117, #276), the new type is optional (and therefore, harder to discover). Have we skipped that because it might be a massive breaking change? Whenever we introduce other sum types like he

[2019-06-13 13:04] ChristianEder commented on #232
a) totally ok
b) i assume, opening a new one might be easier

[2019-06-13 13:09] jen20 commented on #115
Actually this can be closed, it turns out the `aws.Tags` type was a bad idea anyway since it doesn’t allow distinguishing between inputs and outputs - something that would need addressing in the code generator. In practice just using regular objects has not been a problem. Thanks for following up @mikhailshilkov!

[2019-06-13 13:09] #115 closed

[2019-06-13 13:13] jen20 commented on #116
In the past our strategy has been to add the types anyway, since valid programs will still have strings that are a member of the sum type and can be refactored later to use constants if desirable.

[2019-06-13 13:16] mikhailshilkov commented on #116
This might not always be true: "West Europe", "west europe", and "westeurope" are all valid location strings, but only one of them is in the type.

[2019-06-13 13:18] jen20 commented on #116
Is there a reason not to put all the valid versions in the type?

[2019-06-13 13:30] mikhailshilkov commented on #116
Well, I believe "WeSt EuRopE" is still valid...

[2019-06-13 13:33] mikhailshilkov opened #279 "Changing tags shows resource replacements in the preview"
Adding or changing tags to a storage account causes a plan to run `replace` operation on all child resources:

[code]

Previewing adding or changing tags to a resource group:

[code]

Details:

[code]

The actual update seems to do the operation in-place, but the preview is confusing and scary.

[2019-06-13 17:54] stack72 commented on #246
@joeduffy do you mean we need a blog post on this or something different, like an addition to pulumi/examples?

[2019-06-13 20:44] lukehoban commented on #279
This is surprising.

The replaces are being proposed here because the `resourceGroup.name` passed in to the other resources is treated as not being known -presumably because it could in theory have changed as part of the `resourceGroup` update.  But because `name` is a `ForceNew` property, we should be returning back that it is `stable`, and then using this to propagate the known previous value th

[2019-06-13 20:53] lukehoban commented on #279
Repro:

[code]

Similar `.tf`:

[code]

[2019-06-14 07:17] mikhailshilkov commented on #144
@lukehoban The issue has been open for seven months without any comments. Who could help here?

[2019-06-14 09:42] mikhailshilkov commented on #74
So, this is still a problem today. I think it's important to make `pulumi` work in Cloud Shell for better getting started experience. Ideally, I would love to see `pulumi` pre-installed there the same way `terraform` is.

To work around the problem, I had to set two config values.

First, `pulumi config set azure:useMsi true` leads to

[code]

which was solved by `pulumi config set azure:subscript

[2019-06-14 15:14] mikhailshilkov commented on #217
While the upstream issue is open for half-year, what's the workaround to apply in Pulumi programs?

Today, I got the failure while creating an instance of Azure API Management. The next run of `pulumi up` suggests creating a new one. Should I adopt the created-but-reported-as-failed resource somehow?

[2019-06-15 01:27] lukehoban commented on #144
Sorry for the long delay!

This is effectively the same as https://github.com/pulumi/pulumi/issues/2506, and since it’s something we would want to support in the core Pulumi model, I’ll keep that one to track this.

In the meantime, we have also done work to expose `—json` flags on many CLI operations to ensure that scripting the CLI can be done programmatically. Today - that is still the recommen

[2019-06-15 01:27] #144 closed

[2019-06-19 16:21] kennyjwilli opened #285 "ScaleSet example code does not work"
The example [here]( https://pulumi.io/reference/pkg/nodejs/pulumi/azure/compute/#example-usage-with-managed-disks-recommended) on this [line](https://github.com/pulumi/pulumi-azure/blob/3fa6e00723842ba39a5b310a5ebd487f57ba2f34/sdk/nodejs/compute/scaleSet.ts#L88):
[code]
does not work. You cannot `map` a `NatPool`.

[2019-06-19 16:28] lukehoban commented on #285
Here's the full example:

[code]

[2019-06-21 08:46] #225 closed

[2019-06-24 07:21] mikhailshilkov opened #290 "Stop using dataType=binary for queue-triggered subscriptions (functions)?"
Our `QueueEventSubscription` and `QueueFunction` use the binding which defines

[code]

I think this might be a wrong configuration for several reasons:

1. [The official guide](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue#trigger---configuration) doesn't mention `dataType`. I suspect we copied it from Blob Trigger where it is documented. However, it does

[2019-06-24 17:20] CyrusNajmabadi commented on #290
We could make it generic.  So users can provide the shape they want.  One thing that's not clear ot me: if we remove this `dataType: "binary"`, what happens with different types of data?  If someone pushes a string, do you get a string?  If someone pushes an object, what do you get?

Thanks!

[2019-06-24 19:55] mikhailshilkov commented on #290
@CyrusNajmabadi Docs say (and I double-checked):

So, a message `blabla` will be passed as a string, while a message `{ "name": "jack" }` will become an object `{ name: "Jack" }`.

[2019-06-24 21:19] CyrusNajmabadi commented on #290
Gotcha.  In that case, i would simply make it `any` and explain the semantics.  Users can then pass an appropriate callback with their type specified.  We could also consider adding: `onStringEvent` and `onBinaryEvent` to pass the right dataType and more strongly indicate the type of callback to provide (though i care less about this)

[2019-06-25 06:57] mikhailshilkov commented on #290
Nice, thanks! Do you think we should change the default from binary to object/string? I'd say it totally makes sense but it's a breaking change...

[2019-06-25 18:57] CyrusNajmabadi commented on #290
I'm ok with the break if we document it, and specify how to get back to the previous behavior.

[2019-06-27 06:29] mikhailshilkov commented on #261
Closed with https://github.com/pulumi/examples/pull/316

[2019-06-27 06:29] #261 closed

[2019-07-02 10:18] mikhailshilkov opened #295 "Support EventGrid triggers in callback functions"
I am spinning this out of #218 because EventGrid is a bit different from other triggers and warrants some extra considerations on the design of functions.

#### Azure Event Grid

[Azure Event Grid](https://azure.microsoft.com/en-us/services/event-grid/) is the latest messaging service in Azure and is positioned as a massively-scalable event routing service to power event-driven and serverless apps

[2019-07-02 10:18] mikhailshilkov commented on #218
Everything here except EventGrid is done. Closing in favor of #295.

[2019-07-02 10:18] #218 closed

[2019-07-02 10:19] mikhailshilkov commented on #295
tagging @CyrusNajmabadi

[2019-07-02 21:16] CyrusNajmabadi commented on #295
@mikhailshilkov Overall i love this.  The part i didn't quite get was this:

Can you clarify it more?

In terms of priority, i think i woudl 2.1, 2.2, 3, then 1.  But it all sounds super useful and powerful to have these abstractions from different directions.

Anything in particular you have specific design questions around?

[2019-07-02 21:57] mikhailshilkov commented on #295
@CyrusNajmabadi Great!

This is my current code to create a subscription:

[code]

There's no way to get `systemKey` property from Pulumi resources/terraform (that I know of).

1. Whether we want 2.2 and/or 2.1. I guess you already said both.
2. Naming, because we have many things with Event Grid and Subscription in it: the currently existing resource, the callback, the thing which creates the sub

[2019-07-03 19:58] ChristianEder commented on #295
Hi @mikhailshilkov , to keep it consistent with other trigger types, AND to avoid confusion with the `EventGridFunctionSubscription` in (3) I guess that option (2.2.) is preferrable to (2.1.). Also, for any of the proposed solutions, you should keep in mind that there might be resource types that offer more than just a single type of event grid event, i.e. making the syntax of both options (2.1.)

[2019-07-03 20:00] ChristianEder commented on #295
Also, regarding the webhook URL: If the event grid subscription is essentially just calling a webhook, why is there even a need for a specific event grid trigger as opposed to an HTTP trigger (this is more an Azure question than related to your proposal, I guess).

[2019-07-03 20:11] mikhailshilkov commented on #295
It's a convenience: it parses the workload, converts exceptions into proper HTTP response codes, plus it's doing the [handshake](https://docs.microsoft.com/en-us/azure/event-grid/security-authentication) automatically. One [can use HTTP triggers too](https://docs.microsoft.com/en-us/azure/event-grid/receive-events), it even has some benefits, e.g. ability to switch to CloudEvents standard format.

[2019-07-04 16:55] 0x53A opened #296 "Can not create an AKS Windows cluster"
I hope this is the right place to report this, I've started playing with Pulumi recently, not sure yet how everything fits together.

-----------

I need to deploy an AKS cluster with windows nodes: https://docs.microsoft.com/en-us/azure/aks/windows-container-cli#add-a-windows-server-node-pool

I tried to map the documentation to pulumi and created a cluster with this configuration:

[code]

The `

[2019-07-04 17:04] 0x53A commented on #296
Also, i think I somehow need to set the eqivalent of:

[code]

I could not find any properties named windows on the [``KubernetesClusterArgs`` interface](https://github.com/pulumi/pulumi-azure/blob/65b5942ee84d08161a451950755fb155fe86d9a0/sdk/nodejs/containerservice/kubernetesCluster.ts#L316)

[2019-07-05 07:43] mikhailshilkov commented on #296
Yeah, it looks like you should watch for [this PR](https://github.com/terraform-providers/terraform-provider-azurerm/pull/3519) to land first...

[2019-07-08 19:11] lukehoban commented on #192
I'm going to close this as a dupe of https://github.com/pulumi/pulumi/issues/2433.

[2019-07-11 19:06] #290 closed

[2019-07-15 19:18] #232 closed

[2019-07-17 00:22] dbilleci-lightstream opened #308 "NetworkInterfaceApplicationGatewayBackendAddressPoolAssociation issue"
Hi, I think there's an issue in here, but I'm having trouble spotting it.

First off, the docs seem wrong, and I think that may be because of TF.. those docs looked wrong also: https://github.com/pulumi/pulumi-azure/blob/master/sdk/nodejs/network/networkInterfaceApplicationGatewayBackendAddressPoolAssociation.ts#L100

TF version: https://www.terraform.io/docs/providers/azurerm/r/network_interface_

[2019-07-17 06:56] mikhailshilkov commented on #308
Thank you for reporting this issue. Your usage of `app_gateway.backendAddressPools[0].id` is correct. However, it fails during the preview.

I believe this is another manifestation of https://github.com/pulumi/pulumi/issues/2433. This causes `undefined` instead of `Unknown` to get passed through, which then gets erased at the marshaling boundary.

The good news is that it only affects the preview

[2019-07-19 17:59] stack72 commented on #296
Hi @0x53A

Thanks for the request here - as @mikhailshilkov has pointed out, this is something we need to wait for upstream. Rather than having 2 areas to track this, I am going to close this out and we can wait for upstream to merge

As soon as that is released, it will be added to Pulumi

Paul

[2019-07-19 17:59] #296 closed

[2019-07-19 18:00] stack72 commented on #277
@CyrusNajmabadi / @joeduffy this is in progress now - the repo has been created so I am going to close this out

[2019-07-19 18:00] #277 closed

[2019-07-19 18:07] praneetloke commented on #217
It looks like this _may_ be fixed with the provider version 1.20. I see this note in the [docs](https://www.terraform.io/docs/providers/azurerm/auth/azure_cli.html):

[code]

[2019-07-19 18:16] mikhailshilkov commented on #204
I believe we should track https://github.com/terraform-providers/terraform-provider-azurerm/issues/1307 for a fix / a new resource

[2019-07-19 21:50] lukehoban commented on #204
I’m going to close this out since it’s effectively a dupe of https://github.com/terraform-providers/terraform-provider-azurerm/issues/1307.

[2019-07-19 21:50] #204 closed

[2019-07-21 17:25] stack72 commented on #217
In the latest Terraform AzureRM provider that is due for release, the following is included in it

https://github.com/terraform-providers/terraform-provider-azurerm/pull/3850

I don't believe they are going to support anything other than Service Principal for the foreseeable future

[2019-07-23 08:03] mikhailshilkov commented on #74
For the reference, here is the script that I use in Azure Cloud Shell to make pulumi work without any additional configs in stack:

[code]

I basically copied it from the pre-installed terraform script.

This issue exists for one year and is still not assigned to any release... Shall we at least agree on how it should eventually work?

Some options:

- Do nothing in code, agree with Microsoft to p

[2019-07-23 09:06] 0x53A commented on #296
Hi @stack72, the PR was merged a few hours ago.

How long does it usually take to make it's way to pulumi? Will I need to update the CLI, or just do a ``npm update``?

Thanks!

[2019-07-24 18:57] stack72 commented on #296
Hi @0x53A

I am working on this release right now :)

Paul

[2019-07-25 03:02] lukehoban commented on #74
If the fourth option is something we can do in our layer, that feels by far the best.  Have you looked into whether that might be possible?

If not solvable in our layer, perhaps makes sense to contribute as an improvement to the upstream Azure Terraform Provider?  It may help them to avoid needing that awkward wrapper as well.

[2019-07-25 17:49] lukehoban commented on #168
It's possible that at this point, most of the users who would have benefitted from this have already gone through the migration process (replacing resources or manually modifying state files).  Is there still significant value in improving this?

[2019-07-26 13:54] #74 closed

[2019-07-26 14:00] mikhailshilkov commented on #308
@dbilleci-lightstream Were you able to proceed with the workarounds I described above?

[2019-07-26 14:05] mikhailshilkov commented on #295
The basics were implemented with #302, so I'm going to close this issue. There are several other event sources, we'll add them on demand.

[2019-07-26 14:05] #295 closed

[2019-07-26 14:15] mikhailshilkov commented on #206
I think this issue should be moved to https://github.com/pulumi/pulumi-azuread/ and it probably depends on the upstream https://github.com/terraform-providers/terraform-provider-azuread/issues/33

[2019-07-26 15:10] stack72 commented on #278
@mikhailshilkov now that your work has been merged into Pulumi-terraform, do we still have action here?

[2019-07-26 15:24] mikhailshilkov commented on #278
Just tested it with the new version:

[code]

The copy pasted command produces the valid configuration.

[2019-07-26 15:24] #278 closed

[2019-07-26 15:59] dbilleci-lightstream commented on #308
Hi Mikhail, yes - I went with option #2 (the dummy address) and was able to proceed.

[2019-07-26 16:18] mikhailshilkov commented on #308
Thanks for confirming! I'll close this issue as we can track the proper fix in the mentioned upstream issues.

[2019-07-26 16:18] #308 closed

[2019-07-29 16:25] w0rldart opened #316 "Azure AppService Plan always computes a new name when it's Windows"
There's an odd issue occurring with the AppService.Plan resource, where having `kind: "windows"` forces the resource to generate a new name every time pulumi runs

Code snippet

[code]

[2019-07-29 16:38] lukehoban commented on #316
The newly generated name is most likely a symptom not a cause.  I assume some other aspect of the resource is marking it as needing to be replaced (which then requests a new name for the replacement).

Can you share the results of a `pulumi preview --diff` using the latest CLI version?

[2019-07-30 05:05] stack72 commented on #316
Hi @w0rldart

Thanks for raising the issue here. Unfortunately, you cannot use a Y1 SKU and a Windows AppService Plan. Y1 is reserved for `FunctionApp` kind as it's a dynamic tier for Function consumption

I have been able to recreate this exactly and Y1 only works when you use the following:

[code]

I have also been able to confirm that I cannot choose Y1 as a SKU in the Azure console

I hope th

[2019-07-30 05:10] #316 closed

[2019-07-30 05:17] stack72 commented on #168
@lukehoban do we want to apply the work for the Aliasing that @CyrusNajmabadi did in pulumi-terraforn?

[2019-07-30 15:32] mikhailshilkov opened #319 "App Service Plan helper types"
App Service Plans have several related properties and only some unique combinations of those are allowed. I expect people to get this wrong quite often, so maybe we could help with higher-level types? E.g. define something like

[code]

and then use them as

[code]

If we find this approach valuable, probably, there are many other places to apply a similar approach.

[2019-08-01 14:35] stack72 commented on #168
It has been decided that the deprecation message that has been around in terraform for months has prepared our users that these are actually not maintained anymore. Adding any more messaging in Pulumi would actually confuse things

[2019-08-01 14:35] #168 closed

[2019-08-01 19:00] stack72 commented on #97
There needs to be some discussion about what we are going to move and what we are not going to move. Therefore, this will not be completed in 0.25 milestone - it will move to the 0.26 milestone

[2019-08-02 06:45] lukehoban commented on #206
I'm going to close this out - as it appear to match what's tracked at terraform-providers/terraform-provider-azuread#33.  Once this is available there, it will be picked up automatically in the `@pulumi/azuread` provider.

[2019-08-02 06:45] #206 closed

[2019-08-05 10:25] mikhailshilkov commented on #319
@CyrusNajmabadi I'd be curious to know your opinion and whether you see a better API to achieve the same goal of grouping related property values into simple-to-use chunks

[2019-08-06 19:10] pgavlin commented on #279
Terraform's behavior around resource properties is surprising: all resource properties that are not specifically recorded as unknown in the resource diff are treated as unchanging. We believe that this is acceptable behavior for Terraform because it statically plans all resource changes before executing them, and does not re-evaluate dependent interpolations after changes are executed. This means

[2019-08-06 19:20] CyrusNajmabadi commented on #319
I like it.  though i tend to think of this more as a azurex. sort of thing.  We'd have 'Plan' defined there as well (which either wrapped, or subclassed the raw Plan type), and it would accept an additional strongly typed field of some type that we could have these constants for.

[2019-08-06 19:41] mikhailshilkov commented on #279
@pgavlin what about the fact of `name` being "stable" as @lukehoban explained above?

Imagine an AKS cluster being a part of that resource group: replace will look super scary in that situation. Even if a general solution doesn't make sense, I'd consider finding a way to prevent the most obvious issues like the one described.

[2019-08-06 19:44] mikhailshilkov commented on #319
@CyrusNajmabadi that makes sense. feel free to move the issue to azurex (and review https://github.com/pulumi/pulumi-azurex/pull/1 😃 to get it started)

[2019-08-06 19:48] pgavlin commented on #279
With respect to stables: we don't actually end up using the `stable` list at all (and I'm not sure we ever have). In the long term, I do think that using `stable` to propagate property values will help this scenario out, but it may be too involved for a short term fix.

[2019-08-12 20:37] lukehoban opened #332 "Travis tests failing"
We've seen a couple of Travis test runs in master fail with errors like the below (though different tests each time, and seemingly not 100% of the time?)

[code]

[2019-08-14 17:38] #97 closed

[2019-08-21 09:27] mikhailshilkov commented on #332
Based on the detailed logs of [build 1508](https://travis-ci.com/pulumi/pulumi-azure/builds/122752557), the error looks very weird. Basically, `update-initial` step succeeds, `pulumi-preview-empty` succeeds too, but `update-empty` fails with missing `node_modules` error.

I'm not able to inspect the detailed logs of other builds as I don't have access to the S3 bucket...

[2019-08-26 16:44] stack72 commented on #332
This can be closed out - @mikhailshilkov was able to identify the last of the legitimate issues in master that we have. We have some transient failures in our builds right now

We have a green master as we speak https://travis-ci.com/pulumi/pulumi-azure/builds/124605861

[2019-08-27 06:27] mikhailshilkov commented on #332
The ENOENT error is back https://travis-ci.com/pulumi/pulumi-azure/builds/124666145

[2019-08-29 03:58] xtellurian opened #346 "Add support for Azure Maps"
Azure Maps is supported in Terraform, but not yet in Pulumi.

https://www.terraform.io/docs/providers/azurerm/r/maps_account.html

It would be great for me to have support for Azure Maps, because I'm currently using an ARM template. However, the ARM template doesn't provide the subscription key for the resource.

Thanks :)

[2019-08-29 06:22] mikhailshilkov commented on #346
Hi @xtellurian, `azure.maps.Account` has been added in the version `1.0.0-rc.1` which is currently in process of releasing. You'll be able to use it very soon. I hope you find it useful!

[2019-08-29 06:22] #346 closed

[2019-08-29 14:17] youngcm2 opened #347 "How do you add a certificate to an app service?"
Here is what we use in the azure cli.
upload
az webapp config ssl upload --certificate-file="$cert_path" --certificate-password=XXXXXXX --name=XXXXXXX --resource-group XXXXXXXX

bind
az webapp config ssl bind --certificate-thumbprint XXXXXXXX --name XXXXXXXX --resource-group XXXXXXXX --ssl-type "SNI"

[2019-08-29 17:31] pgavlin commented on #347
The upstream Terraform provider does not yet support SSL certificates with App Service. The bug that tracks adding that support is here: https://github.com/terraform-providers/terraform-provider-azurerm/issues/1136

It looks like a fix for that issue is imminent, so I would expect support for SSL certs to be added soon. In the meantime, you could try implementing a [dynamic provider](https://www.p

[2019-08-29 17:34] pgavlin commented on #347
(we will use the upstream issue to track adding this support)

[2019-08-29 17:34] #347 closed

[2019-09-04 10:59] mikhailshilkov opened #353 "EventGridCallbackSubscription sometimes fails (which fails the build)"
Some builds ([example](https://travis-ci.com/pulumi/pulumi-azure/builds/125850614#L4100)) fail with the following error:

[code]

This comes from our EventGrid mix-ins where [we set the URL of an Event Grid subscription to point to the Function App](https://github.com/pulumi/pulumi-azure/blob/master/sdk/nodejs/eventgrid/zMixins.ts#L134-L140).

There is no exact HTTP error in the log that the subsc

[2019-09-04 14:10] lukehoban commented on #353
You could do something along the lines of this: https://gist.github.com/lukehoban/fd0355ed5b82386bd89c0ffe2a3c916a

[2019-09-05 12:05] w0rldart commented on #241
Same here

[code]

Setup

[code]

[2019-09-06 18:08] 4c74356b41 opened #356 "package fails to install on windows"
[code]

windows 10, pulumi 1.0, python 3.6.8. venv\no venv doesnt make a difference. works fine on linux

[2019-09-06 18:14] ellismg commented on #356
Thanks!  I understand the issue here - we have smart quotes in our README.rst file and they are not being decoded correctly when trying to install the package (as it is not being opened as a UTF-8 file).  I'll have a quick fix for this shortly and then will be pushing out some larger changes to force us to always use UTF-8 encoding when opening the `README.rst`

[2019-09-06 19:04] #356 closed

[2019-09-06 19:41] johlrich opened #358 "Question - is using *FunctionApp with existing resources possible?"
My question is specifically about ArchiveFunctionApp and cousins, but it can apply almost anywhere where a component's args takes another component as input with typescript.

Given something like the following:

[code]

TypeScript will fail this with the message: `Type 'Promise<GetResourceGroupResult> & GetResourceGroupResult' is not assignable to type 'ResourceGroup | undefined'.
  Type 'Promise<

[2019-09-06 19:47] pgavlin commented on #358
In place of `azure.core.getResourceGroup`, I think you can use `azure.core.ResourceGroup.get`. It's unfortunate, but the former returns different information than the latter due to differences in the underlying Terraform APIs.

[code]

[2019-09-06 19:57] johlrich commented on #358
Oh I had not come across these resource based gets, thanks. This worked with the 2nd parameter being the azure resource id.

Thanks again for the quick response!

[2019-09-06 19:57] #358 closed

[2019-09-06 20:40] ellismg commented on #356
@4c74356b41 Could you try installing `pulumi-aws==1.0.1a1567796678` and see if this addresses the issue you're hitting?  If so, I will cut a `1.0.1` release of `pulumi-aws`.  Thanks!

[2019-09-09 14:01] HamdiAlaa commented on #150
Did the error persists for pulumi?

[2019-09-09 14:34] oliverholliday opened #359 "azure.dns.NsRecord causes constant redeploys"
We have an on-going issue with Azure NS records in pulumi-controlled DNS zones where nearly every deployment (80%+) triggers re-creating records due to the order of NS records changing.

This is an issue for us as we'd like to begin using --expect-no-changes.

I filed #243 back in May and I think it might be related.

[code]

Everything works as expected on the first pass, except for warnings:

[c

[2019-09-09 15:15] mikhailshilkov commented on #359
Thanks for reporting this @oliverholliday. I believe we should just fix #243, I'll try to prioritize that one.

[2019-09-09 15:17] mikhailshilkov commented on #243
This issue seems nasty to me: it looks like we pass the value of `records` to `record` field at some point. Should we prioritize it? @jen20 @lukehoban

[2019-09-09 15:50] lukehoban commented on #243
Yes - let's make sure we are mapping these fields correctly.

[2019-09-09 17:59] johlrich opened #360 "Unable to create azure.storage.Table - plan apply fails when checking for existence"
Pulumi makes it through the preview, but will fail to apply with an error. The error details contain a url with the resource group name instead of the storage account name in it, which I'm assuming is the problem:

`error: Plan apply failed: Error checking for existence of existing Storage Table "table3a4db274" (Account "storageca2999c2" / Resource Group "resourcegroupa22eacc9"): tables.Client#Exi

[2019-09-09 18:01] pgavlin commented on #360
cc @mikhailshilkov @stack72

[2019-09-09 18:06] stack72 commented on #360
Hi @johlrich

Apologies for the problem here - I have actually fixed this in the upstream Azurerm Terraform Provider repo

https://github.com/terraform-providers/terraform-provider-azurerm/pull/4234

This will be in the next release of the Azure provider

You can follow the release of the upstream provider here - https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/CHANGEL

[2019-09-09 18:06] #360 closed

[2019-09-09 22:16] pgavlin commented on #359
Just out of curiosity, which version of the `@pulumi/azure` package are you using?

[2019-09-10 01:02] oliverholliday commented on #359
1.0.0 now but we've had this issue consistently since around May when I reported #243

[2019-09-13 02:05] dbilleci-lightstream opened #365 "Error destroying VM - Operation 'startTenantUpdate' is not allowed on VM"
Hello, I felt that this issue was probably an Azure API issue, but a nice Microsoft folk over there told me that I should look at Pulumi and or Terraform.

https://github.com/Azure/azure-rest-api-specs/issues/7207

Boils down to the fact that code that has been working for some time suddenly is erroring on teardown of simple resources.  Another user confirmed similar behavior, both of them dealing

[2019-09-13 18:48] dbilleci-lightstream commented on #365
OK - I've got sample code now:

[code]

When executed, produces:
[code]

[2019-09-13 19:18] mikhailshilkov commented on #365
@dbilleci-lightstream Thank you so much for the great repro.

So it looks like the VM is deleted first despite its dependency on NIC and the association. Will it help if you add `vm_nic` and `nic_backend_association` to the `dependsOn` list of the VM before you create those resources? This shouldn't be required, but it looks like the implicit dependency isn't tracked properly.

[2019-09-13 21:46] dbilleci-lightstream commented on #365
OK, I'll try this in a just a moment.  But, wanted to bring up what seems like another related issue, which may or may not be solved by this dependency adjustment.

When it fails in this fashion as shown above, the easiest way to start over is to simply destroy the resource group.

After destroying the resource group, if you try to `pulumi refresh` in order to clear the items out of the state file

[2019-09-13 22:14] dbilleci-lightstream commented on #365
OK so adding the extra 2 dependencies as suggested allowed me to `update` and `destroy` - so thanks for that guidance.

However, I then deployed the test infra one more time and tried the manual RG delete again and refresh, and that still failed:

[code]

[2019-09-16 07:57] mikhailshilkov commented on #365
@dbilleci-lightstream I ported your example to terraform and was able to reproduce both issues there.

The refresh of deleted resource issue is https://github.com/terraform-providers/terraform-provider-azurerm/issues/2491
I created a new issue for original issue: https://github.com/terraform-providers/terraform-provider-azurerm/issues/4330

If you agree those are the same issues, please upvote the

[2019-09-16 15:11] stack72 commented on #241
So, after extensive investigation, I have found that the upstream provider runs the following:

[code]

It then stores it as this in the TF state:

[code]

This is pointless. We should be base64 encoding the []byte rather than just calling string on it. Therefore, a PR has been submitted upstream that will return just the base64 encrypted string which will solve this issue

https://github.com/terr

[2019-09-16 15:31] dbilleci-lightstream commented on #365
Thank you @mikhailshilkov - I've upvoted both issues.

[2019-09-16 15:40] mikhailshilkov commented on #365
You are welcome @dbilleci-lightstream
With a workaround available (set the dependency explicitly), I'll close this issue for now and let's track those two items downstream.

[2019-09-16 15:40] #365 closed

[2019-09-17 08:53] #353 closed

[2019-09-17 08:59] #243 closed

[2019-09-17 09:04] mikhailshilkov commented on #359
With #243 fixed, you should be able to migrate from `record` to `records`, which should fix the issue.

[2019-09-17 09:04] #359 closed

[2019-09-17 09:08] mikhailshilkov commented on #190
Azure team has made quite some improvements in the performance of external packages, so I don't think this is needed. Given that a change would be non-trivial, it's not likely we will make it any time soon, so I'm going to close this issue.

[2019-09-17 09:08] #190 closed

[2019-09-19 11:40] mikhailshilkov opened #370 "Python SDK fails to install (Windows/cp1251)"
While following the Azure Getting Started guide for Windows/Python, I got an error while running `pip3 install -r requirements.txt`:

[code]

Apparently, the `readme.rst` file contains symbols which have no meaning in the default codepage (CP1251 for me). We should change `setup.py` to read the file with explicit UTF8 encoding.

Doesn't happen for `pulumi-aws` for me, but I guess we should make th

[2019-09-19 19:46] stack72 commented on #332
Ok, I really do believe we got them all this time - going to close this out and we can reopen if they come back :D

[2019-09-19 19:46] #332 closed

[2019-09-19 20:14] stack72 opened #371 "ArchiveFunctionApp includes deprecated field"
We need to remove `resourceGroupName` from the ArchiveFunctionApp as it currently causes this warning

[code]

[2019-09-19 20:24] stack72 commented on #370
Closed via #357 but not yet released

We will roll this out in a different manner with https://github.com/pulumi/pulumi-terraform/pull/494

[2019-09-19 20:24] #370 closed

[2019-09-19 20:26] mikhailshilkov commented on #370
Ah, failed to find #356 somehow, mea culpa

[2019-09-19 20:27] stack72 commented on #370
@mikhailshilkov so did I until I looked at the CHANGELOG :D

[2019-09-19 21:03] mikhailshilkov commented on #371
This was fixed in #352 but hasn't made it to 1.0

[2019-09-19 21:03] #371 closed

[2019-09-23 16:41] stack72 commented on #241
This has been merged upstream now - we just need to wait on the release of the provider and this is good - going to close this issue out - we have the fix in place

[2019-09-23 16:41] #241 closed

[2019-09-24 16:06] mikhailshilkov opened #373 "ResourceGroupNotFound build error"
This error happens more and more often during builds. [This one](https://travis-ci.com/pulumi/pulumi-azure/jobs/238679489) already has three of them.

Example:
[code]

At the same time, I haven't seen this error even once on my local environment.
Needs to be investigated to improve build stability.

[2019-09-24 16:09] lukehoban commented on #279
Closing this out as a dupe of pulumi/pulumi#3190 as these are rooted in the same issue with previews being overly conservative.

[2019-09-24 16:09] #279 closed

[2019-09-27 15:55] boillodmanuel opened #377 "what version of terraform azure provider is used"
Hello,
I didn't figure out what version is used? Is it detailed somewhere?
By the way, could we pin the version as it's recommended in https://github.com/terraform-providers/terraform-provider-azurerm?

Best regards,

[2019-09-27 15:57] lukehoban commented on #377
You can see the versions of the upstream Terraform provider that map to each version of the Pulumi provider at https://github.com/pulumi/pulumi-azure/blob/master/CHANGELOG.md.

[2019-09-27 16:09] boillodmanuel commented on #377
Thanks.
So I guess we can not fix a specific version (it's updated along with pulumi version

[2019-09-27 16:11] boillodmanuel commented on #377
By the way, it could be worth to mention it in doc

[2019-09-27 17:19] lukehoban commented on #377
Agreed - I’ll repurpose this issue to track including the version of the provider being documented in the documentation (both Pulumi version and upstream Terraform Provider version for providers based on Terraform Providers).

[2019-10-03 17:47] johlrich opened #381 "Unable to disable subscription for azure.apimanagement.Api"
Leaving off the `subscriptionKeyParameterNames` or explicitly setting it to undefined creates the Api with the subscription enabled with default header / query parameter names.

I am unsure how this resource behaves with just the terraform provider.

[2019-10-03 17:50] johlrich commented on #381
While looking into a workaround and I'd guess this is just a case of a missing property in the upstream tf provider

The CreateOrUpdate azurerm body shows a `subscriptionRequired` boolean in addition to the `subscriptionKeyParameterNames` on the azurerm apis https://docs.microsoft.com/en-us/rest/api/apimanagement/2019-01-01/apis/createorupdate#request-body

The terraform list of parameters only se

[2019-10-04 06:48] mikhailshilkov commented on #381
@johlrich  Thanks for checking this!
I believe this is https://github.com/terraform-providers/terraform-provider-azurerm/issues/3863 upstream

[2019-10-04 18:35] lukehoban commented on #373
Build flakiness has been holding up getting a release of this provider out.  We should work around this as needed to get a release out based on local validation if necessary.  We did also get one green run in `master` yesterday: https://travis-ci.com/pulumi/pulumi-azure/builds/130339263

[2019-10-04 18:50] mikhailshilkov commented on #373
I opened a support ticket with Microsoft, went through the initial ping-pong, and now it (hopefully) sits with engineering support. Let's see how it goes. Ticket # 119100222002086
I haven't found any workarounds yet. I'm okay to release based on a single green build.

[2019-10-07 08:15] juchom opened #383 "Panic when updating stack"
Using pulumi cli 1.2 and the azure plugin 1.0.0 I can't update my stacks anymore.

Here is the error I have.

[code]

Let me know if you need more information in order to troubleshoot this issue.

Thanks

[2019-10-07 08:19] mikhailshilkov commented on #383
@juchom Thanks for reporting this. Could you add the code snippet for your AppService definition?

[2019-10-07 08:22] juchom commented on #383
Thanks for the quick reply, here is the code for the AppService

[code]

[2019-10-07 08:29] mikhailshilkov commented on #383
And what is the value of `appSettings`?

[2019-10-07 08:32] juchom commented on #383
appSettings is constructed this way in index.ts

[code]

[2019-10-07 08:50] mikhailshilkov commented on #383
The call stack points to `ExpandAppServiceLogs`. Are you sure you have no `logs` property defined?

[2019-10-07 08:57] juchom commented on #383
Nothing very special as you can see:

[code]

[2019-10-07 09:07] mikhailshilkov commented on #383
Yeah, this looks very normal. Anything changed just before you got this error for the first time?
Do you get it if you try with a clean stack?
The app is `my-stack-web` in the output and `myproject-${env}-web` in the code. Copy-paste difference?

[2019-10-07 09:24] juchom commented on #383
Anything changed just before you got this error for the first time? Nothing has changed on the pulumi files for a while. Actually many projects I have are having the same issue.

Do you get it if you try with a clean stack? I've created a clean stack and it worked (The only difference is that the blob is not created because it doesn't exist)

The app is my-stack-web in the output and myproject-${e

[2019-10-07 12:04] juchom commented on #383
If this can help, on the new stack, I've changed my index.ts to add a new key to appSettings and I have the same error.

[2019-10-07 13:11] mikhailshilkov commented on #383
@juchom That's puzzling. Your code still works for me.

Two random things:

1. Could you upgrade the azure provider to 1.2.0 and repost the error stack trace?
2. Could you share for app service plan definition?

[2019-10-07 13:25] juchom commented on #383
I've done pulumi plugin install resource azure 1.2.0 (do I need to do something else after?)

And I have this stacktrace:

[code]

[code]

[2019-10-07 13:30] mikhailshilkov commented on #383
You actually need to use it in your program. Make sure that the right version is installed, e.g. put this into your `package.json`:
[code]
and run `npm install` or `yarn install`.

[2019-10-07 13:34] juchom commented on #383
Thanks for your quick replies, after the npm install, here is the stacktrace:

[code]

[2019-10-07 14:17] mikhailshilkov commented on #383
Thanks, I can reproduce it with 1.2 (but not 1.0). Working on a solution...

[2019-10-07 16:05] mikhailshilkov commented on #383
@pat @lukehoban Please help me diagnose the root cause here.

1. The error is thrown from the TF provider when they try to [convert nil to map](https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/azurerm/helpers/azure/app_service.go#L1253).

2. The `input` parameter of that call is `[map[application_logs:[<nil>] http_logs:[<nil>]]]`, so `logs` map has two properties, both

[2019-10-08 07:46] mikhailshilkov commented on #192
@lukehoban @pat Is this supposed to work now? I'm still getting errors in preview if I remove the ` || "11111111-1111-1111-1111-111111111111"` workaround [here](https://github.com/pulumi/examples/blob/master/azure-ts-msi-keyvault-rbac/index.ts#L133).

[2019-10-08 08:26] juchom commented on #383
Hi @mikhailshilkov,

Just to let you know, the issue is not happening with pulumi/azure 1.0.0, it starts with 1.1.0.

[2019-10-08 08:58] pat commented on #192
@mikhailshilkov I think you meant to tag @pgavlin rather than myself :)

[2019-10-08 09:01] mikhailshilkov commented on #192
@pat 🤦‍♂ I'm sorry for disturbing!

[2019-10-08 22:04] pgavlin commented on #192
I believe this will be fixed with the next release: the code that should address this did not make it into 1.2.0.

[2019-10-09 12:12] mikhailshilkov commented on #192
@pgavlin Actually, it's the opposite. I was testing with the latest master and the preview was failing. However, `1.2.0` does work.

It turns out that #3245 caused regression and this issue is back now. I verify that by testing commit-by-commit and finding the first one that stops working.

[2019-10-09 16:11] pgavlin commented on #192
Got it. I think this one is essentially by design, then: because the input has a value that is known, we do not know when using the current approach that it may change during the update. In this case, the update would populate the missing fields. This would be solvable using the "provider dry-run" approach outlined in https://github.com/pulumi/pulumi/issues/3190.

For now, I am going to close this

[2019-10-14 18:16] lukehoban opened #386 "CI failing on `multi-callback-all`"
https://travis-ci.com/pulumi/pulumi-azure/builds/131721519

[code]

[2019-10-15 08:45] stack72 commented on #386
This is actually due to https://github.com/terraform-providers/terraform-provider-azurerm/issues/4598

[2019-10-15 14:20] lukehoban commented on #386
Should we disable the test or otherwise workaround then for now?

[2019-10-15 16:06] lukehoban commented on #386
I think this is different.  This test is continuing to fail on every run even after that was merged.  Either something similar needs to be applied to this test, or there is something else going on.

[2019-10-16 11:59] #386 closed

[2019-10-17 22:59] metral opened #391 "ServicePrincipal eventual consistency issue when creating AKS cluster"
When attempting to create an AKS cluster, the cluster will always error out on the first couple of runs because even though the new `ServicePrincipal` created successfully, IAM eventual consistency hasn't permuated all the way for the AKS cluster to read it successfully for use, resulting in a `HTTP400`:

[code]

Re-running a `pulumi update` once or twice after the initial error has surfaced gets

[2019-10-18 08:21] boillodmanuel opened #1080 "Creating a resource with different pulumi name but same cloud name could lead to unexpected behavior"
During a stack update I created a second azure resource group with the same name. I did a `pulumi update` and after having seen this, I wanted to revert it by removing the second azure resource group. This caused the deletion of the main azure resource group which ends up by a panic.... I finally destroy the whole stack... which seems the only way to recover.

# Steps to reproduce

Here is simple

[2019-10-18 14:38] mikhailshilkov commented on #391
This is probably caused by https://github.com/terraform-providers/terraform-provider-azuread/issues/156
However, I don't think it always fails or the first time: I had the full update succeeding at the first go. Might depend on regions too.

[2019-10-18 16:18] metral commented on #391
Interesting, my attempts always fail on the first run in `west-us2`.

From that comment, w.r.t to the "Move identity code from cluster config stack to identity stack" of https://github.com/pulumi/docs/issues/1868

This sounds like it _could_ be resolved when we split out the identity from the cluster into its own identity stack, and then stack ref it in the cluster, instead of all being provisione

[2019-10-19 23:43] joeduffy opened #392 "`resource_group_name` deprecation warnings"
Trying to use `azure.appservice.HttpEventSubscription` seems to unconditionally lead to this warning:

`warning: urn:pulumi:dev::page-counter-az::azure:appservice:HttpEventSubscription$azure:storage/zipBlob:ZipBlob::site verification warning: "resource_group_name": [DEPRECATED] This field has been deprecated and is no longer used - will be removed in 2.0 of the Azure Provider`

I suspect we need t

[2019-10-20 07:34] mikhailshilkov commented on #392
Terraform has been gradually deprecating `resource_group_name` property in child-level resources of Azure Storage. Basically, it's not possible to put a blob into a group that is different from its storage account.

I believe `HttpEventSubscription` is fixed in master and this warning should be gone with the next release. I still need to go through all examples to see where this warning still may

[2019-10-21 15:51] lukehoban commented on #373
Any new insights on this from Azure support?

Should we try running tests in a different region? (I recall they suggested this issue only affected some regions?)

If Azure really is deeply unreliable here, is there an upstream issue we need to open to harden against that throughout the Azure provider?

Anything else we can do to mitigate in the meantime?

[2019-10-21 20:31] pgavlin commented on #383
@mikhailshilkov can you gather verbose logs for the problematic update? Depending on the values being sent to the plugin, this could be a bug in the CLI or in the TF bridge.

[2019-10-21 20:31] pgavlin commented on #383
`-v=10 --logtostderr` would be most helpful.

[2019-10-21 20:56] mikhailshilkov commented on #383
@pgavlin DMed the log on Slack

[2019-10-22 12:17] mikhailshilkov commented on #373
I got another response today and it's still no help, something in line with "have you tried to retry in the portal". I've sent an email to Azure RM PM, maybe they can escalate.

They said there are issues in replicating between regions, which shouldn't immediately cause our error, as we don't have multi-region deploys. They ignored my follow-up question about which other regions we should try. I r

[2019-10-22 13:58] 0x53A opened #393 "AKS: after a pulumi refresh it wants to replace the cluster"
I created an AKS cluster. Then I ran ``pulumi refresh``.

Now on the next ``pulumi up`` it wants to replace the whole cluster:

[code]

but when I look at the diff, there aren't any actual changes. In the output, both agentPoolProfiles are exactly the same.

This is the agentPoolProfiles in my script

[code]

[2019-10-22 14:04] stack72 commented on #393
Hi @0x53A

Please can you get the details view that shows what needs to change and post it here (minus any secrets!)

Paul

[2019-10-22 14:07] 0x53A commented on #393
oops, I had created a second Windows NodePool in the Portal manually (because Pulumi / TerraForm don't yet support that) and promptly forgot about it. Sorry about that, I'll go home.

Is there a way to tell the diff engine to ignore this?

(for reference, these are the blockers for windows node pool support afaik: https://github.com/terraform-providers/terraform-provider-azurerm/issues/3971
https:

[2019-10-22 14:07] #393 closed

[2019-10-22 14:10] lukehoban commented on #393
Yes - you can use `ignoreChanges`: https://www.pulumi.com/docs/intro/concepts/programming-model/#ignorechanges

[2019-10-22 21:14] mikhailshilkov commented on #373
Okay, so I chatted with an actual Azure engineer, and the picture is a bit more clear.

Basically, they have an issue when the replication of ARM data lags behind. Especially cross-region. If we hit an API endpoint in region A to create a resource group in region B, and then ask for a resource in that resource group in region B, it may be the case that regin B doesn't know about the resource group

[2019-10-22 21:48] lukehoban commented on #373
Fascinating. It seems deeply weird that Azure doesn't use the region you are asking to create a resource in to process creation of that resource - and lets some other (effectively random) region nearer to where you are making the request try to handle it (even though that region might be "wrong").

I'm surprised this doesn't impact others trying to do automated testing against Azure.  I wonder if

[2019-10-22 21:59] mikhailshilkov commented on #373
Yes, I forgot to mention this, thank you! My doubt is how to pull this to Terraform? Do you have an angle for a suggestion in Terraform that would make them merge such a change? It sounds bizarre without the whole story, and I don't have a repro with TF.

[2019-10-23 16:35] lukehoban commented on #373
Another workaround for this is to modify the `hosts` file on the test machines to force redirect `management.azure.com` to the regional endpoint that matches the region resources are being created in (`ARM_LOCATION` for our tests).

PR which takes that approach here: https://github.com/pulumi/pulumi-azure/pull/395.

This is an unfortunate answer - but looks like it may alleviate our testing pain.

[2019-10-23 17:08] #373 closed

[2019-10-24 01:03] xtellurian opened #396 "Azure Maps 'skuName' property has incorrect options"
I'm using Pulumi TypeScript, v1.3.4

There is a mismatch between the skuName returned by Azure and the skuName allowed by Pulumi - this is causing unnecessary updates to be performed.

## Steps to Reproduce:

Create a new azure maps resource:

[code]

Run `pulumi up` - this should work, and the maps account should now exist.

Run `pulumi up` again, and the maps account will be updated:

[code]

Dr

[2019-10-24 01:06] xtellurian commented on #396
This might be an issue with the Terraform provider

https://www.terraform.io/docs/providers/azurerm/r/maps_account.html#sku_name

[2019-10-24 11:48] mikhailshilkov commented on #396
Created an issue upstream, let's track it there: https://github.com/terraform-providers/terraform-provider-azurerm/issues/4706

[2019-10-24 11:48] #396 closed

[2019-10-29 13:08] baoduy commented on #383
I got the same issues when added more key to appSettings. However, destroy and re-build from scratch is fine. this is quite a dangerous issue if deploy to Production.

[2019-10-29 14:17] mikhailshilkov commented on #383
@pgavlin Did you have a chance to look at the debug. The issue is nasty indeed.

[2019-10-29 16:06] stack72 commented on #392
Closed via release of v1.3.0

[2019-10-29 16:06] #392 closed

[2019-10-30 08:12] boillodmanuel opened #411 "Pulumi detects changes where there aren't because state contains additional properties"
Hello,

Pulumi detects changes where as there are not changes in following case :

1. Create an azure policy from the doc example: https://www.pulumi.com/docs/reference/pkg/nodejs/pulumi/azure/policy/#Definition
(see definition below)
1. Execute it with `pulumi up`
1. Do not change anything and execute it again with `pulumi up`
    => ❌ Pulumi detects changes in metadata where there aren't (seems

[2019-10-30 13:55] baoduy opened #401 "CustomHostnameBinding support import Cert from Keyvault"
Hi Pulumi,
CustomHostnameBinding is supporting to set up the SSL thumbprint. Howver, there is no option to import the cert from Keyvault (or upload cert from file) available yet. Hope this will be soon available.

Thanks
Duy

[2019-10-31 08:18] mikhailshilkov commented on #401
Hi Duy,

Why is it not possible? I would expect something along these lines to work:

[code]

[2019-11-01 03:42] baoduy commented on #401
Hi @mikhailshilkov
I have tried and got cert not found error. Seems the CustomHostnameBinding is not looking up the cert from KeyVault.

[2019-11-03 21:01] robertwe commented on #383
+1 hit the same problem recently.

[2019-11-03 23:52] baoduy commented on #383
The workaround solution is add config for appplicatio logs and httpLogs

[2019-11-04 14:34] robertwe commented on #383
@baoduy thx fir hint but did not work - tested a few times already.

[2019-11-04 17:01] gbonventre commented on #383
This item is blocking some of our lift and shift from AWS to Azure. Any way to get this resolved sooner?

[2019-11-04 22:46] mikhailshilkov commented on #373
Suddenly, Azure support came back to me saying that the issue is fixed, with not much details:

Do we dare to try reverting the hack?

[2019-11-05 01:23] baoduy commented on #383
Hi @robertwe
Here is my code already tried with 3 Azure Subscriptions, and I'm not receive any error after added this code.
[code]

Hope this help.

[2019-11-05 08:19] robertwe commented on #383
@baoduy I can confirm - this workaround works as expected. Previously I did not add "applicationLogs" just httpLogs. Thx again :)

[2019-11-12 08:30] Hawxy opened #409 "Including a SiteConfig on an App Service fails creation in specific scenarios"
Was testing out the C# client today and added a SiteConfig block to an AppService definition:
[code]
Resulting in:

[code]

Appears to be due to an terraform bug that hasn't been fixed in over a year: https://github.com/terraform-providers/terraform-provider-azurerm/issues/1560

In my case the issue went away by bumping the app service plan to at least Basic/B1, however the issue thread does menti

[2019-11-12 08:42] mikhailshilkov commented on #409
Thanks for reporting this @Hawxy
We likely need to contribute a fix to the terraform provider here.

[2019-11-12 09:02] mikhailshilkov commented on #383
More people hit this while kicking tyres with .NET... Any progress here @pgavlin ?

[2019-11-12 18:43] pgavlin commented on #383
Yes--I don't have a fix yet, but I'm beginning to understand what exactly the issue is. In essence this is a problem with our ability to round-trip between TF state and Pulumi state.

[2019-11-12 23:08] prasannapad opened #526 "Feedback: Pulumi CosmosDB APIs"
In playing around with the CosmosDB examples, I noticed that while it's easy to create new container/collection like this:

[code]

it doesn't offer an easy way to subsequently add items to that same container object. I would expect we can call something like :

`await collection.items.create({id: "foo", content: "bar"});`

similar to standard CosmosDB API but instead looks like I first have to ca

[2019-11-14 05:42] simonpinn commented on #383
👍 hit the same issue here, running through a scenario where I attempt to update the stack after updating a config variable

[2019-11-15 03:25] xtellurian commented on #383
I had a similar issue that seemed to be triggered later resolved by using `pulumi refresh`

Pulumi version: v1.5.1
@pulumi/azure: 1.4.0

[2019-11-18 09:34] mikhailshilkov commented on #411
@stack72 It's not just formatting: in the example above, several new fields are added by Azure.

@boillodmanuel I suppose you'd have to either change your metadata string to match exactly what Azure returns or add `, {ignoreChanges: ["metadata"]}` to the resource definition to ignore this diff.

[2019-11-18 10:04] boillodmanuel commented on #411
If I update the `metadata` value, its works. As it's a stack dependant value, I have to put it in stack config.
IMH , it's a better workaround than ignoring changes for that attribute.

If I remove the `metadata` attribute, I do not have this issue neither.

If you can't do anything else, I guess you can close this issue ;)

[2019-11-18 13:28] jen20 opened #412 "Use standard Azure environment variables for service principal configuration"
`pulumi-azure` currently use the Terraform environment variables `ARM_{CLIENT_ID,SUBSCRIPTION_ID, etc}` to pick up service principal configuration. The standards (as also used by `gocloud`) are [documented here][1] - we should allow those as an alternative.

[1]: https://docs.microsoft.com/en-gb/azure/go/azure-sdk-go-authorization#use-environment-based-authentication

[2019-11-19 02:12] Hawxy commented on #383
Ran into this same error after adding the below to an app service that already exists:
[code]

[2019-11-19 15:19] #412 closed

[2019-11-20 18:04] brunhil commented on #381
This actually referenced in [PR 4885](https://github.com/terraform-providers/terraform-provider-azurerm/pull/4885), please [see my comments](https://github.com/terraform-providers/terraform-provider-azurerm/pull/4885#issuecomment-556181462) for why this can't be implemented just yet.

[2019-11-20 20:28] mjwills commented on #383
This impacts most of the examples (e.g. https://github.com/pulumi/examples/tree/master/azure-ts-appservice). Initial `pulumi up` works fine, but not subsequent (after changing the html being deployed). `pulumi destroy` then `pulumi up` works fine.

Might it be worth updating the readme's on the examples in the short term to list the workaround?

[2019-11-21 01:15] baoduy commented on #383
@mjwills use mime as work around solution until this issues fixed

[2019-11-21 10:59] mjwills commented on #383
@baoduy My attempt to apply that to the C# sample didn't work, alas (new errors occurred). But thanks for the suggestion. I'll need to wait until it is fixed...

[2019-11-21 11:02] mikhailshilkov commented on #383
@mjwills .NET has another issue right now https://github.com/pulumi/examples/issues/476

[2019-11-22 03:51] baoduy commented on #383
@mjwills Ah I see, I haven't tried with C# yet. Seems it is still preview and may have a lot of bugs. However, Typescript quite nice and interesting. I will try C# soon for next project.

Hope the issue will be soon resolved as it is impact to all across languages.

[2019-11-22 11:16] mikhailshilkov opened #416 "Service Bus namespace not found on preview"
Any example with a Service Bus namespace and Azure Function bound to its objects (e.g. [this one](https://github.com/pulumi/pulumi-azure/tree/master/examples/topic)) fails on the initial `pulumi preview`:

[code]

[2019-11-22 11:56] mikhailshilkov commented on #416
Downgrading the CLI from 1.6.0 to 1.5.2 solves the problem.

@pgavlin This seems to be related to the recent changes in the preview. [This line](https://github.com/pulumi/pulumi-azure/blob/master/sdk/nodejs/servicebus/zMixins.ts#L328) didn't use to be called during preview, and now it is. Anything we should do differently there?

[2019-11-22 15:39] lukehoban commented on #416
@mikhailshilkov did we have coverage for this in either Azure or Examples tests?  Do you know why this didn’t trigger a test failure?

[2019-11-22 21:54] mikhailshilkov commented on #416
@lukehoban  Yes, we do, that's how I found the issue. See [this build](https://travis-ci.com/pulumi/pulumi-azure/builds/137842228) for example.

[2019-11-25 21:53] #416 closed

[2019-11-27 10:19] kenny-wealth commented on #391
Making the AD app a dependency on the cluster should work. You may try adding `{ dependsOn: [adApp , adSpPassword ]}` to the cluster

[2019-11-27 10:28] mikhailshilkov commented on #391
@kenny-wealth I believe this doesn't always help: the SP is reported as completed but still not visible internally from the AKS service.

[2019-11-27 10:54] kenny-wealth commented on #391
It's certainly not a fix, but worked for me, because previously the cluster and app started creating at the same time.

[2019-11-27 17:18] 0x53A opened #421 "v1.5: no exported member KubernetesClusterDefaultNodePool"
I just updated to v1.5 because I need the node pools feature.

![image](https://user-images.githubusercontent.com/4236651/69745276-2f760980-1142-11ea-8245-2e8f14699958.png)

[2019-11-27 17:23] 0x53A commented on #421
I _think_ this was just some inappropriate caching by vs code, seems to work now.

Sorry about the noise.

[2019-11-27 17:23] #421 closed

[2019-11-27 22:46] pgavlin commented on #383
I believe that the fixes for this have now been released in Pulumi 1.6.1 and `pulumi-azure` 1.5.0.

[2019-11-28 03:44] xtellurian commented on #383
I just experienced this after updating.
[code]

Versions:
Pulumi v1.6.1
azure-1.5.0

[2019-11-28 03:52] lukehoban commented on #383
Reopening to reconfirm whether this is fixed.

[2019-11-28 09:38] mikhailshilkov commented on #383
I confirm it's **not** fixed: tried with 1.6.1/1.5.0

[2019-12-01 18:56] clstokes opened #423 "Provide error details during failed update"
When an update to `azure.core.TemplateDeployment` fails, the error message emitted doesn't include the detailed error message from the Azure API so the user has very little information to troubleshoot with. Re-running with `--debug` provides the actual error message that provides the root cause.

#### Output
[code]

#### Output with `--debug`
[code]

#### Code to reproduce
https://gist.github.com/

[2019-12-01 22:11] stack72 commented on #409
@mikhailshilkov what are your thoughts on what the correct fix that we need to send upstream is?

[2019-12-01 22:16] mikhailshilkov commented on #409
@stack72 Fix https://github.com/terraform-providers/terraform-provider-azurerm/issues/1560

[2019-12-01 22:24] stack72 commented on #409
@mikhailshilkov LOL I understand that part :) There are like 5 bug reports in the comments of different parameters causing issues - do we know what the actual bug is or is it a combination of them all (i.e. due to default values)

[2019-12-01 22:35] mikhailshilkov commented on #409
Sorry for being a Captain Obvious :)
I do not know the details of what exactly goes wrong, we still need to investigate that if we want to contribute.

[2019-12-01 22:42] stack72 commented on #409
Oh I see, I thought you had a fix in mind already! My bad :)

[2019-12-02 18:17] pgavlin commented on #383
Hm. The fix must not have made it into the `pulumi-azure` release.

[2019-12-02 21:28] pgavlin commented on #383
Okay, I've confirmed this locally with Pulumi 1.6.1 + `pulumi-azure` 1.6.0.

[2019-12-02 21:28] #383 closed

[2019-12-06 13:08] vegard-st1 opened #428 "Support Virtual Applications for App Services"
At the moment it is not possible to create app service virtual applications. You have to resort to deploying a template manually e.g:

[code]

[code]

[2019-12-06 14:29] mikhailshilkov commented on #428
Hi @vegard-st1 thanks for opening this issue. This would require a change in the upstream provider, so I suggest we track it there https://github.com/terraform-providers/terraform-provider-azurerm/issues/1422

[2019-12-06 14:43] jchomarat opened #429 "Calling GetClientConfig() fails"
Hello,

I am trying to call the following (as seen on a couple of samples)

`var clientConfig = await Pulumi.Azure.Core.Invokes.GetClientConfig());`

And each time I run pulumi up, I receive on that line an exception "Object reference not set to an instance of an object"

Basically I want to retrieve from the code basic information (tenantid, subscriptionid etc .. ) as I would do

`[subscription()

[2019-12-06 14:50] mikhailshilkov commented on #429
Hi @jchomarat This is a bug that should be fixed by now.

Could you please update `Pulumi.Azure` to `1.6.0-preview` if you aren't there yet and try again?

Sorry for the inconvenience.

[2019-12-06 15:03] jchomarat commented on #429
Yeap, *1.6.0-preview* fixes this issue.
Thanks @mikhailshilkov !

[2019-12-06 15:03] #429 closed

[2019-12-09 19:18] pgavlin commented on #428
Closing this out; we'll use the upstream issue to track.

[2019-12-09 19:18] #428 closed

[2019-12-11 11:28] andreujuanc opened #432 "Incorrect FunctionApp settings update"
Hi,

I just figured that when I deploy a function with appSettings, the `"FUNCTIONS_EXTENSION_VERSION"` entry value is being overridden by `~1` instead of the actual value of `~2` or not properly stored, most probably by azure, but I thought to post it here first.

This is what I have:

[code]

After this being deploy I see this in the configuration section of the app:
`        "FUNCTIONS_EXTENSIO

[2019-12-11 11:32] mikhailshilkov commented on #432
hi @andreujuanc
It might be confusing but you should actually set `version: "~2",` for your `FunctionApp` instead. It defaults to `~1` and overrides your setting.

[2019-12-11 11:48] andreujuanc commented on #432
I see, I went and check the code and found it. Thanks, but and I believe the code/docs should be modified to reflect the actual meaning.
Currently I says:

It should say something like "it's value is saved on FUNCTIONS_EXTENSION_VERSION", or something similar.
Additionally, we could verify that if version != FUNCTIONS_EXTENSION_VERSION , we can throw an error :)

[2019-12-11 11:56] mikhailshilkov commented on #432
Agreed. This is a Terraform component, so there isn't much we can do directly. Any reason why you aren't using `ArchiveFunctionApp` which we control?

[2019-12-11 12:10] mikhailshilkov opened #433 "Add ArchiveFunctionApp in .NET"
Add a mixins for `ArchiveFunctionApp` in .NET SDK comparable to the Node.js one

[2019-12-11 12:12] andreujuanc commented on #432
Initially the App was adopted, so we wanted to test that out, and zip deploy was a good idea not to have additional deployment steps.
Also the example for zipdeploy was using FunctionApp so we figured it was the "way to go".

Using version fixed the issue. So we might just leave it like that, but I still have A TON of functions to migrate to pulumi, this one was the first one for this customer.

I

[2019-12-11 12:15] mikhailshilkov commented on #432
Sounds great! Closing this issue for now, feel free to share more feedback in another issue or otherwise

[2019-12-11 12:15] #432 closed

[2019-12-26 17:06] breathe opened #438 "Many bugs trying to manage azure ResourceGroup's"
Azure ResourceGroup's appear to be a really bad cloud abstraction.

1. After deleting -- they are not immediately deleted and still visible from various index views in the UI -- and it appears as well that whatever is caching this state on the azure side also confuses pulumi as `pulumi refresh` won't notice a manual deletion of the resource group.
2. Trying to edit anything in an existing resource

[2020-01-09 05:39] mikhailshilkov commented on #438
Hi @breathe

I don't think we can do anything about (1) - resource group is a concept of Azure and implemented by Microsoft.

Regarding (2), could you share your code before and after the change, so that I could understand your scenario? Could it be that you created/changed the resource group outside of Pulumi?

[2020-01-09 18:43] breathe commented on #438
I originally created the resource group with Pulumi -- then changed the code which created the resourceGroup such that on next `pulumi up` run, the name of the resourceGroup was different (or said another way -- the resourceGroup with the old name no longer existed and my code was asking for a resourceGroup with a new name to exist).

This failed with the above.

I can't remember some of the detai

[2020-01-09 18:50] breathe commented on #438
Trying to recreate my observations from that time ... I'm remembering something about how this was resolved ...

I believe I had orginally thought that pulumi had deleted the resourceGroup and then failed to recreate it -- but in reality it hadn't.  It turns out that resourceGroup's aren't shown in the `All Resources` view in the azure portal ...

![image](https://user-images.githubusercontent.com

[2020-01-09 19:15] mikhailshilkov commented on #438
I tried to repro your example.

1. I adjusted your example to compile:

[code]

2. `pulumi up`, wait until all resources are created (except VM failed due to the poor password)

3. Change the code to `location: "West Central US",`

4. `pulumi up`, wait until all resources are replaced:

![image](https://user-images.githubusercontent.com/1454008/72097472-4f682380-32d1-11ea-81d8-88af980f2a77.png)

T

[2020-01-09 22:53] breathe commented on #438
I'm not able to reproduce the location failure.  However I'm taking the opporutnity to clean up my code a little bit -- collapse these two functions into one -- and in the course of doing this, fixing a bug in the linux version (name's of network security rules required to be unique).

Pulumi can't change the name of a network security rule because it tries to create the new security rule before r

[2020-01-09 23:05] mikhailshilkov commented on #438
You can work around this by setting `deleteBeforeReplace` to `true` in the resource options

[2020-01-09 23:11] breathe commented on #438
Ok i'll close this.  thanks

[2020-01-09 23:11] #438 closed

[2020-01-10 09:33] barclayadam opened #1084 "Azure custom hostname + new DNS records"

[2020-01-16 15:36] jestrjk opened #440 "Changing customData does not register a change in state"
Hi,

When I create a azure.VirtualMachine, changes to osProfile.customData do not register as changes in state. Reference code below. If I change the message that the server is supposed to display  through setting the serverMessage using `--config serverMessage="NewMessage"` or `pulumi config set serverMessage "NewMessage"`  the change is not registered and the virtual machine is not updated / re-

[2020-01-16 15:52] jestrjk opened #441 "Does not Delete NIC when replacing a VirtualMachine"
Maybe related to #440 ?

When changing the hostname of a virtual machine: `azure.compute.VirtualMachine`, the attempt to replace it results in:
[code]

[2020-01-16 19:56] JonCanning opened #442 "Failed to retrieve the host keys"
When deploying an Azure Function using `ArchiveFunctionApp` we often get this error, and it can take repeated attempts at deployment to get it to succeed. I assume it is timing out waiting for the function to respond; is there anything we can do?

[code]

[2020-01-16 19:59] stack72 commented on #442
Hi @JonCanning

Have you tried adding a customTimeouts block?

e.g

[code]

I wrote this off my phone so apologies for the bad syntax

Paul

[2020-01-16 20:56] mikhailshilkov commented on #442
@stack72 If I recall correctly, custom timeouts aren't supported in the Azure provider

[2020-01-16 21:03] mikhailshilkov commented on #442
I've heard about this issue before, but it's weird we don't hit it in our CI.
Anyway, we may need to consider adding retries to [here](https://github.com/pulumi/pulumi-azure/blob/master/sdk/nodejs/appservice/zMixins.ts#L838) similar to [this](https://github.com/pulumi/pulumi-azure/blob/master/sdk/nodejs/eventgrid/zMixins.ts#L147).

[2020-01-17 09:22] mikhailshilkov commented on #441
Does the error come from the `VirtualMachine` resource, or rather from the `NetworkInterface`?

The issue sounds somewhat similar to #365, although the error is different. My guess is that you should be able to work around this with some combination of `dependsOn` and `deleteBeforeReplace` options.

If you share a repro and console output, I can give a more specific answer. Thanks!

[2020-01-17 09:34] mikhailshilkov commented on #440
This is a dupe of #150 which should be tracked in upstream https://github.com/terraform-providers/terraform-provider-azurerm/issues/148

[2020-01-17 09:34] #440 closed

[2020-01-17 10:28] Wema commented on #401
Hi @baoduy,
I ran into the same problem and managed to resolve this by following the advise [here](https://www.terraform.io/docs/providers/azurerm/r/app_service_certificate.html#argument-reference)
I hope that helps.

[2020-01-17 11:04] CraftyFella commented on #442
I also have this same issue. It's made worse when there are multiple zip deployments in a single `pulumi up` I don't know how many deployments you're doing in the CI.. but in our deployments we have up to 10 functions being deployed.

[2020-01-17 11:14] mikhailshilkov commented on #442
Thanks for highlighting this problem! As I mentioned above, the retry workaround should be fairly simple. I would love to see a community PR from one of you folks, otherwise, I'll take a look myself a bit later.

[2020-01-20 14:16] CraftyFella commented on #442
I wish I could..

[2020-01-21 12:53] shahiddev opened #444 "Static hosting using C# - how to enable"
I'm trying to create some storage accounts which have static hosting enabled. I know this feature isn't available in the ARM api and there is an example in the docs where a custom dynamic provider is used (for the TS example). I can also see that dynamic providers are not supported in .NET at the moment.

My question is how can enable the static hosting using Pulumi and C#?

If I was able to get t

[2020-01-21 13:18] mikhailshilkov commented on #444
You could export the storage account name from your Pulumi program, get it with `pulumi stack output`.

Alternatively, you could run a CLI command from within the same program but inside an `Apply` call.

Here is a draft for both:

[code]

[2020-01-21 13:31] shahiddev commented on #444
Wow, thanks for the super quick response @mikhailshilkov !

I wonder if I can execute the azure storage sdk command in that apply method?

I realised I'll need the static endpoint url for another step managed by Pulumi, that's not exposed in the API, in your TS example you query the CLI to return it but in my case I need to pass that to an app gateway component that is also being provisioned by Pu

[2020-01-21 13:35] mikhailshilkov commented on #444
You should be able to execute any command (or pretty much any C#) in that `Apply`. The commands need to be idempotent, because they will run on any `pulumi up` (and on subsequent previews after the storage account is created).

[2020-01-21 13:37] mikhailshilkov commented on #444
You can also return data from that `Apply`, and instead of using it inside the outputs dictionary, place it in your body and then use the output value for the next resource:

[code]

[2020-01-21 13:39] shahiddev commented on #444
Thanks Mikhail! I had reached the same conclusion on the return parameters!

You've been very helpful - really appreciate it.
I'll close this now but may re-open if if I run into an issue with this approach.

[2020-01-21 13:39] #444 closed

[2020-01-21 17:44] dokuboyejo opened #445 "NetworkWatcherFlowLog not available in v1.8.1"
The NetworkWatcherFlowLog module is currently not available in the parent module pulumi_azure.network.

**language**: python

[2020-01-21 17:56] stack72 commented on #445
Hi @dokuboyejo

This was only added as part of pulumi-azure v1.10.0

Paul

[2020-01-21 17:56] #445 closed

[2020-01-21 18:01] dokuboyejo commented on #445
Hi @stack72
Is v1.10.0 publicly available yet?

[2020-01-21 18:02] stack72 commented on #445
@dokuboyejo yessir

https://pypi.org/project/pulumi-azure/#history

The latest version is v1.11.0

P.

[2020-01-21 18:08] dokuboyejo commented on #445
many hanks @stack72

[2020-01-21 18:11] stack72 commented on #445
no worries! Let us know if there are any issues

[2020-01-21 19:52] bsideup opened #446 "Allow CloudEvents v1 in `azure.eventgrid.EventSubscription#eventDeliverySchema`"
Hi!

Cloud Events v1 is out and supported by EventGrid.

But, since the validation seems to happen before hitting the Azure's API, there is currently no way to use it. Currently it says: `Possible values include: 'EventGridSchema', 'CloudEventV01Schema', 'CustomInputSchema'.`, which is not entirely true :)

[2020-01-21 20:38] stack72 commented on #446
Hi @bsideup

I am not sure what error you are getting here. If you want to use the new CloudEvents v1 delivery schema, then then you just need to use the parameter as `CloudEventV01Schema`

is this not working for you?

Paul

[2020-01-22 11:30] bsideup commented on #446
Hi @stack72,

`CloudEventV01Schema` will use version `0.1` and not `1.0`. I can confirm that after creating the resource, it is also displayed as `0.1` in the UI and the events are sent in `0.1` format.

[2020-01-22 11:42] CraftyFella commented on #442
Ok it's worth pointing out that @JonCanning and myself get this error when creating an EventGrid subscription with the following code:

[code]

[2020-01-22 19:34] joshusdaog opened #447 "Create Key Vault Linked Service in Data Factory"
It doesn't appear that Pulumi (or Terraform for that matter) supports provisioning Key Vault Linked Services--other than through ARM template deployment.

A best practice for Data Factory is to access tokens & connection strings required for Linked Services via Key Vault. Doing this requires a Key Vault Linked Service (among other things like a managed identity for Data Factory and a Key Vault acc

[2020-01-23 08:56] mikhailshilkov commented on #447
@joshusdaog Could you please add some description to the issue?

[2020-01-24 10:18] marklam opened #448 "AccountBlobPropertiesArgs has no support for CORS"
As far as I can tell, changing the CORS settings for a storage account should be in `Pulumi.Azure.Storage.Inputs.AccountBlobPropertiesArgs` but it's missing - although they are present on `AccountQueuePropertiesArgs`.

[2020-01-24 10:24] mikhailshilkov commented on #448
Hi @marklam, thanks for the issue.
This feature is missing in the upstream provider. I'll close the issue here to track it upstream in https://github.com/terraform-providers/terraform-provider-azurerm/issues/19. There's a PR https://github.com/terraform-providers/terraform-provider-azurerm/pull/5425 so maybe it will be resolved soon.

[2020-01-24 10:24] #448 closed

[2020-01-24 10:33] marklam commented on #448
Incidentally, after I opened this issue I realised that I can't establish the CORS rule at the time the `StorageAccount` is created, because the referring URL will be a site that is created using that StorageAccount (ie circular) reference.

[2020-01-24 10:36] mikhailshilkov commented on #448
Yeah, you probably have to hard-code the name of either the storage account or the site to work around that

[2020-01-27 17:21] boillodmanuel opened #449 "Property scopes of azure.network.MetricAlert should be a list of string"
Hello,

Affecting current azure version (v1.11.0).

Regarding the [terraform  example](https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/website/docs/r/monitor_metric_alert.html.markdown)
[code]

the [`scopes` property of `azure.network.MetricAlert`](https://www.pulumi.com/docs/reference/pkg/nodejs/pulumi/azure/monitoring/#MetricAlertArgs-scopes) should be a `list of st

[2020-01-31 13:17] ustun commented on #383
Is this fixed or not? I think not. We are encountering some issues when doing the initial up:

[code]

[2020-01-31 17:05] pgavlin commented on #383
@ustun what version of the `@pulumi/azure` package are you using (assuming you're on NodeJS)?

[2020-02-01 02:43] baoduy commented on #409
Hi All, I also faced this issue today. I hope the fix will soon release as this is a blocker of my project.
Cheers.

[2020-02-01 05:13] ustun commented on #383
@pgavlin Thanks for the swift reply Pat.

My pulumi version is: v1.9.1
My @pulumi/azure version is: @pulumi/azure@1.12.0

Good news is,  I have been able to circumvent the issue by specifying the following (based on similar suggestions above):

[code]

[2020-02-01 09:57] ilmax commented on #192
@pgavlin this is happening with the C# SDK as well and the `identity.principalId || "11111111-1111-1111-1111-111111111111"` doesn't seems to work.

Sample code:
[code]
Is there a work around also for the C# SDK other than `pulumi up --skip-preview`?
Moreover do you want me to open a new issue?

[2020-02-01 21:23] lukehoban commented on #192
Reopening - we’ve seen a lot of folks continue to hit this - and although it is arguably “by design” currently:
1. That design leads to violating our type system
2. It’s very unintuitive and hard to even figure out why it’s happening or what to do

I think we will need to continue to think about improving the experience here.

[2020-02-01 22:42] lukehoban commented on #192
Note that on top of impacting the initial preview (as noted in https://github.com/pulumi/pulumi-azure/issues/192#issuecomment-496279536), this seems to also currently trigger any time a resource is being updated, which has an output that is a filled in version of something provided as an input. This broadens the impact of this issue meaningfully

[2020-02-03 09:32] mikhailshilkov opened #454 "Panic when creating an App Service with empty applicationLogs"
Running the initial creation of a stack with the following code

[code]

fails with

[code]

The important bit is `applicationLogs: {},`.

Packages:

[code]

This similar to #383 but the config is different and the error happens during creation, not update.

[2020-02-03 09:33] mikhailshilkov commented on #383
@ustun Thanks, I reproduced the panic. I think it's different enough to warrant a new issue, so I created #454

[2020-02-03 10:19] mikhailshilkov commented on #192
I tried it with the latest version and, FWIW, the workaround still works both for the initial preview and subsequent updates, both for TypeScript and C#.

@ilmax This C# snippet resolves the problem for me:

[code]

I agree the workaround isn't great and is hard to discover.

[2020-02-03 10:26] ilmax commented on #192
After trying it again, I can confirm it work with the ?? "something" workaround, my bad.

[2020-02-05 12:56] mikhailshilkov commented on #442
Another similar error that we are getting today is that the keys are retrieved successfully but they don't contain the `eventgrid_extension` one. Sounds like https://github.com/Azure/azure-functions-eventgrid-extension/issues/73. Looks like a good nudge to finally add the retries all over the place.

[2020-02-05 14:23] boillodmanuel opened #456 "Azure AccountStorage has an 'accountType' property which doesn't exist on terraform side"
Hello,

Affecting current azure version (v1.11.0).

In the documentation  of AccountStorage, there is an 'accountType' property: https://www.pulumi.com/docs/reference/pkg/nodejs/pulumi/azure/storage/#AccountArgs-accountType

This property doesn't exist on terraform side: https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/website/docs/r/storage_account.html.markdown#argum

[2020-02-05 14:39] mikhailshilkov commented on #456
Thank you for reporting this.

The property [exists](https://github.com/terraform-providers/terraform-provider-azurerm/blob/3059f231d3d88b2501a19ebcf7c12692cd5e0e8c/azurerm/internal/services/storage/resource_arm_storage_account.go#L83) in Terraform, but it's been deprecated.

@stack72 What is our status of marking all the deprecated fields as such both in code and in docs? I can't see anything in

[2020-02-05 14:55] stack72 commented on #456
@mikhailshilkov the code is still waiting for a review... I think > 1 month now

[2020-02-05 15:19] boillodmanuel commented on #456
Okay @mikhailshilkov. So no worry if the property exists in terraform code :)

[2020-02-07 17:12] stack72 commented on #449
Hi @boillodmanuel

I am not sure what issue you are hitting here. I am looking at

azure.monitoring.MetricAlert and scopes is currently a List of string

Is this still a problem for you?

Paul

[2020-02-07 21:31] boillodmanuel commented on #449
In the documentation (as well as in the code), the scope type is `scopes: pulumi.Input<string>;` which is not a List but a single string.

[2020-02-10 21:14] stack72 commented on #449
Hi @boillodmanuel

So we've had a look at this and we *think* that Pulumi is correct here. The Terraform code looks as follows:

[code]

This is a required Set of Strings with a max 1 and a min of 1 - so that essentially is a string - Set itself doesn't really suit the parameter here

In the Terraform codebase I see the following comment:

[code]

Therefore, when Terraform changes, Pulumi will upd

[2020-02-12 18:00] boillodmanuel commented on #449
Okay, so you convert a Set of (1:1) in a single value.
It's an implementation choice that I respect totally.
It could be surprising when we compare the pulumi and terraform schema (as I did).

For information, the terraform issue that follow that point: https://github.com/terraform-providers/terraform-provider-azurerm/issues/3719

Feel free to close this issue.

Manuel

[2020-02-12 20:33] stack72 commented on #449
Hi @boillodmanuel

I am going to close this specific issue out - the issue you linked is actually one of our developers so we will know when it gets addressed

When it does get addressed, then Pulumi will reflect the new change

If you feel differently, then we can reopen :) Sorry about the confusion here

Paul

[2020-02-12 20:33] #449 closed

[2020-02-13 21:32] clstokes commented on #423
Here's another example of the detailed error message not being provided in non-debug output.

Error message
[code]

Debug Error Message
[code]

_Note: stack and resource names have been obfuscated so disregard any inconsistencies there._

[2020-02-13 21:33] clstokes commented on #423
@stack72 @mikhailshilkov thoughts on this one? This causes a fair bit of trouble and frustration for our users that hit this.

[2020-02-14 08:57] mikhailshilkov commented on #423
Agreed that's very annoying. @stack72 do you know where we swallow this and whether we could easily improve?

[2020-02-14 17:54] tasiah opened #459 "Panic when creating a new kubernetes cluster in Go"
I'm running `pulumi up` (and `dep ensure`) here: https://github.com/pulumi/examples/tree/tasiah/azure-go-aks/azure-go-aks. Everything runs successfully up until [Line 131 ](https://github.com/pulumi/examples/blob/tasiah/azure-go-aks/azure-go-aks/main.go#L131)in `main.go`, in which I get:
[code]
I don't think this is a local configuration issue since I was able to run [`azure-cs-aks`](https://githu

[2020-02-17 22:19] philippbussche opened #1086 "Azure FunctionApp Python Dependencies"
Hi,
I have started using Pulumi in order to deploy a few Python functions zu Azure.
I am able to compose a azure.appservice.ArchiveFunctionApp with the archive pointing to my python directory. For very simple functions, which don't require any additional libraries this is working fine but not for functions which require additional libraries which in Python you would normally install using pip and

[2020-02-18 02:51] dokuboyejo opened #1087 "Error building AzureRM Client: Authenticating using the Azure CLI is only supported as a User (not a Service Principal)"

[2020-02-19 19:46] elsesiy opened #460 "[Go] Cannot use StringMap for Tags"
Hi there,

I'm not able to get the following snippet to work:
[code]

leads to `./main.go:18:35: cannot use "TEST" (type string) as type pulumi.StringInput in map value:
	string does not implement pulumi.StringInput (missing ElementType method)`.

Changing this to adhere to the type definition:
[code]

leads to `error: program failed: marshaling properties: awaiting input property tags: expected a

[2020-02-19 21:33] elsesiy opened #461 "[Go] How to use multiple Providers?"
Hi,

consider the following scenario:
I have two vnets residing under the same tenant in different subscriptions.
My service principal has the necessary role assignments to access both resources.
In terraform I have to create two separate providers in order to establish vnet peering successfully.

How can I achieve the same mechanism in Pulumi (Go)?

Thanks.

[2020-02-19 22:47] EvanBoyle commented on #459
So I've got a smaller repro of this issue.

The following code deploys just fine:

[code]

But if you pass a pointer to the `rule` field you get the same panic:

[code]

[2020-02-19 22:50] EvanBoyle commented on #459
A little more experimenting shows that this trips if you try to pass a pointer to any property that has a pulumi annotation in the model such as `pulumi:"rule"`

[2020-02-20 08:16] mikhailshilkov commented on #460
@EvanBoyle could you take a look?

[2020-02-20 08:19] mikhailshilkov commented on #461
@EvanBoyle Have we added support for explicit providers to the Go SDK yet?

[2020-02-20 17:27] EvanBoyle commented on #460
@elsesiy I'm unable to reproduce this. What version of the CLI and Azure plugin are you using?
[code]

[2020-02-20 17:37] EvanBoyle commented on #461
@elsesiy You can specify an explicit provider.

[code]

This was added recently and [the docs](https://www.pulumi.com/docs/intro/concepts/programming-model/#explicit-provider-configuration
) haven't been updated yet. I'll get that fixed ASAP

[2020-02-20 17:54] elsesiy commented on #460
`v1.10.1`
`azure  resource  1.14.0   160 MB  1 day ago  1 day ago`

[2020-02-20 17:55] elsesiy commented on #461
@EvanBoyle Great, thank you. I'll give this is a shot and report back!

[2020-02-20 18:28] EvanBoyle commented on #460
This seems to be fixed in the v1.11 version that we're in the process of releasing. Here's a tracking issue: https://github.com/pulumi/pulumi/issues/3940

Once that's out can you upgrade and give this another try?

[2020-02-20 18:33] elsesiy commented on #460
Ah great, yeah sure thank you!

[2020-02-20 18:37] elsesiy commented on #461
Unfortunately I'm running into some issues here. This is the provider definition:
[code]

Diagnostics:
[code]

I also tried explicitly specifying these properties but since they are all of type `pulumi.BoolPtrInput` the result is the same.

[2020-02-20 19:41] EvanBoyle commented on #461
This is a known issue with the code generation for providers. We've got a branch with a fix we're working on: https://github.com/pulumi/pulumi/compare/pgavlin/providerConfig

[2020-02-20 19:49] elsesiy commented on #461
Okay is that fix also going into `1.11` or what's the ETA for it? Thanks for the quick support, much appreciated!

[2020-02-20 20:29] EvanBoyle commented on #461
We have a PR out https://github.com/pulumi/pulumi/pull/3948 but the 1.11 release is already baking so this won't make it in.

In the meantime, if you'd like to unblock yourself you can build this branch locally by following [contributing.md](https://github.com/pulumi/pulumi/blob/master/CONTRIBUTING.md)

[2020-02-21 16:25] ChrisKlug opened #463 "Missing support for CORS for Azure Function Apps"
I'm building a solution that needs CORS support for Azure function apps. Currently using MultiCallbackFunctionApp, but it doesn't seem to support adding CORS hosts. Would it be possible to add this feature? It seems like a pretty useful thing to support.

[2020-02-21 21:47] elsesiy commented on #460
Hi @EvanBoyle, I just tried it with the new release and it's still not working.
`$ pulumi version
v1.11.0`

Error:
`error: program failed: marshaling properties: awaiting input property tags: expected a string, got a []`

[2020-02-22 00:26] EvanBoyle commented on #460
Two things to debug here. Can you first run a `dep ensure`, then `pulumi up -v 10 --logtostderr` to get some additional debug information?

[2020-02-22 04:26] elsesiy commented on #460
Okay I figured it out, my issue was that I was declaring the tags once on the resource group and then tried to reference them from all other resources via `rg.Tags` which leads to this obscure error message. Declaring them once independently works as expected!

[2020-02-22 16:53] EvanBoyle commented on #460
Ah, ok I have a repro now. This is definitely a bug, I'll look into it.

[code]

[2020-02-22 17:58] elsesiy commented on #460
@EvanBoyle Great, thank you! The workaround I mentioned works for now 👍

[2020-02-23 19:33] thumbquat commented on #463
I have the same issue (I'm using ArchiveFunctionApp), siteConfig doesn't have a cors setting (at least for typescript, have not checked other bindings